__pycache__
node_modules
.DS_Store
errors.txt
sdvxin_cache
google_sheets_cache
*.log
.venv
.yarn

# build files
chunithm/*.*
chunithm/lv/*.*
ongeki/*.*
ongeki/lv/*.*
maimai/*.*
maimai/lv/*.*
shared/*.js
!shared/*.min.js
!diffs.txt
