@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');

:root {
    --color-ongeki-summer-accent-01: 232,74,146; /* #e84a92 */
    --color-ongeki-summer-accent-02: 0,150,218; /* #0096da */
    --color-ongeki-summer-accent-03: 253,249,83; /* #fdf953 */

    --ui-color-background-100: 255,255,255; /* #fff */
    --ui-color-background-098: 250,250,250; /* #fafafa */
    --ui-color-background-095: 247,247,247; /* #f7f7f7 */
    --ui-color-background-093: 241,241,241; /* #f1f1f1 */
    --ui-color-background-090: 236,236,236; /* #ececec */
    --ui-color-background-080: 218,218,218; /* #dadada */
    --ui-color-background-070: 193,193,193; /* #c1c1c1 */
    --ui-color-background-060: 175,175,175; /* #afafaf */
    --ui-color-background-050: 158,158,158; /* #9e9e9e */
    --ui-color-background-040: 121,121,121; /* #797979 */
    --ui-color-background-030: 107,107,107; /* #6b6b6b */
    --ui-color-background-020: 92,92,92; /* #5c5c5c */
    --ui-color-background-010: 74,74,74; /* #4a4a4a */
    
    --ui-color-foreground-100: 17,17,17; /* #111 */
    --ui-color-foreground-098: 22,22,22; /* #161616 */
    --ui-color-foreground-095: 36,36,36; /* #242424 */
    --ui-color-foreground-090: 46,46,46; /* #2e2e2e */
    --ui-color-foreground-080: 58,58,58; /* #3a3a3a */
    --ui-color-foreground-070: 74,74,74; /* #4a4a4a */
    --ui-color-foreground-060: 92,92,92; /* #5c5c5c */
    --ui-color-foreground-050: 107,107,107; /* #6b6b6b */
    --ui-color-foreground-040: 121,121,121; /* #797979 */
    --ui-color-foreground-030: 158,158,158; /* #9e9e9e */
    --ui-color-foreground-020: 175,175,175; /* #afafaf */
    --ui-color-foreground-010: 193,193,193; /* #c1c1c1 */

    --ui-color-foreground-inverted: 255,255,255;
    --ui-color-background-inverted: 0,0,0;
    
    --ui-color-page-background: var(--ui-color-background-100);
    --ui-color-text: var(--ui-color-foreground-095);
    --ui-color-form-background: var(--ui-color-background-100);
    --ui-color-form-border: var(--ui-color-foreground-020);
    --ui-color-btn: var(--ui-color-background-070);
    --ui-color-btn-active: var(--ui-color-background-050);
    --ui-color-highlight: var(--color-ongeki-summer-accent-01);
    --ui-color-primary: var(--color-ongeki-summer-accent-02);
    --ui-color-warning-bg: var(--color-ongeki-summer-accent-03);

    --ui-color-table-row-bg: var(--ui-color-background-100);
    --ui-color-table-row-bg-odd: var(--ui-color-background-098);
    --ui-color-table-row-bg-hover: var(--ui-color-background-095);
    --ui-color-table-row-bg-sorting: var(--ui-color-background-095);
    --ui-color-table-row-border: var(--ui-color-background-080);
    --ui-color-table-row-group-bg: var(--ui-color-background-093);
    --ui-color-table-row-bg-selected: 176,190,217; /* #B0BED9 */

    --current-theme-icon: "🔆";
}

:root[data-theme="dark"] {
    --ui-color-background-100: 17,17,17; /* #111 */
    --ui-color-background-098: 22,22,22; /* #161616 */
    --ui-color-background-095: 26,26,26; /* #1a1a1a */
    --ui-color-background-093: 36,36,36; /* #242424 */
    --ui-color-background-090: 46,46,46; /* #2e2e2e */
    --ui-color-background-080: 58,58,58; /* #3a3a3a */
    --ui-color-background-070: 74,74,74; /* #4a4a4a */
    --ui-color-background-060: 92,92,92; /* #5c5c5c */
    --ui-color-background-050: 107,107,107; /* #6b6b6b */
    --ui-color-background-040: 121,121,121; /* #797979 */
    --ui-color-background-030: 158,158,158; /* #9e9e9e */
    --ui-color-background-020: 175,175,175; /* #afafaf */
    --ui-color-background-010: 193,193,193; /* #c1c1c1 */
    
    --ui-color-foreground-100: 255,255,255; /* #fff */
    --ui-color-foreground-098: 250,250,250; /* #fafafa */
    --ui-color-foreground-095: 247,247,247; /* #f7f7f7 */
    --ui-color-foreground-090: 241,241,241; /* #f1f1f1 */
    --ui-color-foreground-080: 236,236,236; /* #ececec */
    --ui-color-foreground-070: 218,218,218; /* #dadada */
    --ui-color-foreground-060: 193,193,193; /* #c1c1c1 */
    --ui-color-foreground-050: 175,175,175; /* #afafaf */
    --ui-color-foreground-040: 158,158,158; /* #9e9e9e */
    --ui-color-foreground-030: 121,121,121; /* #797979 */
    --ui-color-foreground-020: 107,107,107; /* #6b6b6b */
    --ui-color-foreground-010: 92,92,92; /* #5c5c5c */

    --ui-color-foreground-inverted: 255,255,255; /* #fff */
    --ui-color-background-inverted: 0,0,0; /* #000 */


    --ui-color-page-background: var(--ui-color-background-100);
    --ui-color-text: var(--ui-color-foreground-090);
    --ui-color-form-background: var(--ui-color-background-100);
    --ui-color-form-border: var(--ui-color-foreground-020);
    --ui-color-btn: var(--ui-color-background-070);
    --ui-color-btn-active: var(--ui-color-background-050);
    --ui-color-highlight: var(--color-ongeki-summer-accent-01);
    --ui-color-primary: var(--color-ongeki-summer-accent-02);
    --ui-color-warning-bg: 84,83,29; /* #54531d */

    --ui-color-table-row-bg: var(--ui-color-background-100);
    --ui-color-table-row-bg-odd: var(--ui-color-background-098);
    --ui-color-table-row-bg-hover: var(--ui-color-background-095);
    --ui-color-table-row-bg-sorting: var(--ui-color-background-095);
    --ui-color-table-row-border: var(--ui-color-background-080);
    --ui-color-table-row-group-bg: var(--ui-color-background-093);
    --ui-color-table-row-bg-selected: 176,190,217; /* #B0BED9 */

    --current-theme-icon: "🌘";
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        --ui-color-background-100: 17,17,17; /* #111 */
        --ui-color-background-098: 22,22,22; /* #161616 */
        --ui-color-background-095: 26,26,26; /* #1a1a1a */
        --ui-color-background-093: 36,36,36; /* #242424 */
        --ui-color-background-090: 46,46,46; /* #2e2e2e */
        --ui-color-background-080: 58,58,58; /* #3a3a3a */
        --ui-color-background-070: 74,74,74; /* #4a4a4a */
        --ui-color-background-060: 92,92,92; /* #5c5c5c */
        --ui-color-background-050: 107,107,107; /* #6b6b6b */
        --ui-color-background-040: 121,121,121; /* #797979 */
        --ui-color-background-030: 158,158,158; /* #9e9e9e */
        --ui-color-background-020: 175,175,175; /* #afafaf */
        --ui-color-background-010: 193,193,193; /* #c1c1c1 */
        
        --ui-color-foreground-100: 255,255,255; /* #fff */
        --ui-color-foreground-098: 250,250,250; /* #fafafa */
        --ui-color-foreground-095: 247,247,247; /* #f7f7f7 */
        --ui-color-foreground-090: 241,241,241; /* #f1f1f1 */
        --ui-color-foreground-080: 236,236,236; /* #ececec */
        --ui-color-foreground-070: 218,218,218; /* #dadada */
        --ui-color-foreground-060: 193,193,193; /* #c1c1c1 */
        --ui-color-foreground-050: 175,175,175; /* #afafaf */
        --ui-color-foreground-040: 158,158,158; /* #9e9e9e */
        --ui-color-foreground-030: 121,121,121; /* #797979 */
        --ui-color-foreground-020: 107,107,107; /* #6b6b6b */
        --ui-color-foreground-010: 92,92,92; /* #5c5c5c */

        --ui-color-foreground-inverted: 255,255,255; /* #fff */
        --ui-color-background-inverted: 0,0,0; /* #000 */


        --ui-color-page-background: var(--ui-color-background-100);
        --ui-color-text: var(--ui-color-foreground-090);
        --ui-color-form-background: var(--ui-color-background-100);
        --ui-color-form-border: var(--ui-color-foreground-020);
        --ui-color-btn: var(--ui-color-background-070);
        --ui-color-btn-active: var(--ui-color-background-050);
        --ui-color-highlight: var(--color-ongeki-summer-accent-01);
        --ui-color-primary: var(--color-ongeki-summer-accent-02);
        --ui-color-warning-bg: 84,83,29; /* #54531d */

        --ui-color-table-row-bg: var(--ui-color-background-100);
        --ui-color-table-row-bg-odd: var(--ui-color-background-098);
        --ui-color-table-row-bg-hover: var(--ui-color-background-095);
        --ui-color-table-row-bg-sorting: var(--ui-color-background-095);
        --ui-color-table-row-border: var(--ui-color-background-080);
        --ui-color-table-row-group-bg: var(--ui-color-background-093);
        --ui-color-table-row-bg-selected: 176,190,217; /* #B0BED9 */

        --current-theme-icon: "🌘";
    }
}

html {
    font-size: 14px;
    padding: 0;
    margin: 0;
    background: rgb(var(--ui-color-page-background));
    color: rgb(var(--ui-color-text));
    transition: background-color 0.3s;
}
@media screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
}
@media screen and (min-width: 1440px) {
    html {
        font-size: 16px;
    }
}

html.transitioning *,
html.transitioning *:before,
html.transitioning *:after,
html.transitioning button {
    transition-property: background, border-color;
    transition-duration: 0.3s;
}
body {
    font-family: -apple-system, "Hiragino Sans", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3","Hiragino Sans GB", "Meiryo", "Segoe UI", sans-serif;
    font-size: 1rem;
    font-feature-settings: "palt";
    padding: 0;
    margin: 0;
    background: rgb(var(--ui-color-page-background));
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

button, input {
    font-family: -apple-system, "Hiragino Sans", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3","Hiragino Sans GB", "Meiryo", "Segoe UI", sans-serif;
    font-feature-settings: "palt";
}

select {
    text-overflow: ellipsis;
    font-size: 16px;
    background-color: transparent;
    background-image: url("datatables/images/sort_both.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: 2px solid rgb(var(--ui-color-form-border));
    border-radius: 3px;
    height: 30px;
    padding: 2px 20px 2px 10px;
    color: rgb(var(--foreground));
    -moz-appearance: none;
    -webkit-appearance: none;
}

select:focus {
    font-size: 16px;
    border-color: rgb(var(--ui-color-primary));
}

a {
    color: #ff1b71;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 3px 15px;
    border-bottom: 3px solid rgb(var(--color-ongeki-summer-accent-02));
    background-color: rgb(var(--ui-color-background-090));
    background-image: repeating-linear-gradient(130deg, rgba(200,200,200,0.2), rgba(200,200,200,0.4) 3px, transparent 3px, transparent 6px), linear-gradient(to right, #fdf953, rgba(255,255,0,0));
    overflow: hidden;
}
header:before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    right: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgb(var(--color-ongeki-summer-accent-01)) 0%, rgb(var(--color-ongeki-summer-accent-01)) 340px, #fff 340px, #fff 800px);
    transform: skewX(-40deg);
}
header:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-image: linear-gradient(to right, #fff 0%, #fff 300px, rgb(var(--color-ongeki-summer-accent-02)) 300px, rgb(var(--color-ongeki-summer-accent-02)) 90% );
    transform: skewX(-40deg);
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin: 0 15px 0 0;
    font-size: 1.5em;
    font-style: italic;
}
h1 a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    color: #fff;
    line-height: 0.7;
    vertical-align: middle;
}
h1 a:hover {
    text-decoration: none;
}
h1 a span {
    display: inline-block;
}
h1 a span.main {
    line-height: 0.9;
    text-shadow: 
        0 -1px 2px rgb(var(--color-ongeki-summer-accent-02)), 
        1px 0 0 rgb(var(--color-ongeki-summer-accent-01)), 
        0 0 10px rgb(var(--color-ongeki-summer-accent-02)), 
        0 0 5px rgb(var(--color-ongeki-summer-accent-02));
}
h1 a:hover span.main {
    text-shadow: 
        0 -1px 2px rgb(var(--color-ongeki-summer-accent-02)), 
        1px 0 0 rgb(var(--color-ongeki-summer-accent-01)), 
        0 0 15px rgb(var(--color-ongeki-summer-accent-02)),
        0 0 15px rgb(var(--color-ongeki-summer-accent-02)), 
        0 0 5px rgb(var(--color-ongeki-summer-accent-02));
}
h1 span.sub {
    color: rgb(var(--color-ongeki-summer-accent-02));
    font-size: 0.5em;
    letter-spacing: -0.03em;
    text-shadow: 0 0 3px #fff, 1px 1px 2px #fff, -1px -1px 2px #fff;
}
h1 span.sub.plus {
    color: rgb(var(--color-ongeki-summer-accent-01));
    font-size: inherit;
    margin-left: 0.2em;
    letter-spacing: -0.03em;
    text-shadow: 0 0 3px #fff, 1px 1px 2px #fff, -1px -1px 2px #fff;
}

header .aside {
    position: relative;
    display: inline-flex;
    height: 46px;
    align-items: center;
    padding: 0 10px 0 30px;
    margin-top: -3px;
    margin-bottom: -3px;
    margin-left: auto;
    margin-right: -35px;
    color: rgb(var(--ui-color-foreground-100));
    text-transform: uppercase;
    z-index: 1;
}

@media screen and (max-width: 480px) {
    header .aside {
        padding-left: 15px;
    }
}

header .aside:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(var(--ui-color-background-100));
    border-left: 3px solid rgb(var(--color-ongeki-summer-accent-02));;
    box-shadow: -5px 0 0 rgb(var(--color-ongeki-summer-accent-03));
    transform: skewX(-40deg);
}

header .aside span {
    position: relative;
}


.theme-switcher {
    position: relative;
    margin-left: 20px;
    margin-right: 10px;
    padding: 5px 20px 5px 30px;
    display: inline-flex;
    align-items: center;
}

.theme-switcher:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(var(--ui-color-background-100));
    border-left: 3px solid rgb(var(--ui-color-background-080));;
    transform: skewX(-40deg);
}

.theme-switcher .label:before {
    position: relative;
    content: var(--current-theme-icon);
    font-size: 16px;
    margin-right: 4px;
}

.switch {
    height: 30px;
    position: relative;
    width: 14px;
}

.switch input {
    display:none;
}

.slider {
    background-color: #333;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgba(var(--ui-color-foreground-020),0.5) inset;
}

.slider:before {
    background-color: #eee;
    bottom: 2px;
    content: "";
    height: 10px;
    left: 2px;
    position: absolute;
    border-radius: 2px;
    transition: transform .2s;
    width: 10px;
}

input:checked + .slider {
    background-color: #777;
}

input:checked + .slider:before {
    transform: translateY(-15px);
}

.lastupdated {
    position: relative;
    padding: 5px 10px 5px 0;
    text-align: right;
}

.notice-bar {
    display: block;
    padding: 7px 10px;
    font-size: 0.9em;
    background: rgb(var(--ui-color-warning-bg));
}

.column-toggle-bar {
    display: block;
    margin-bottom: 10px;
    padding: 2px 8px;
    background-color: rgb(var(--ui-color-background-080));
    border-top: 2px solid rgb(var(--ui-color-background-100));
    overflow: hidden;
}

@media screen and (max-width: 480px) {
    .column-toggle-bar {
        overflow-x: auto;
    }
}

.column-toggle-bar .dt-buttons {
    display: flex;
    flex-flow: wrap;
    float: none;
}

@media screen and (max-width: 480px) {
    .column-toggle-bar .dt-buttons {
        flex-flow: nowrap;
    }
}
.column-toggle-bar .dt-buttons > button.dt-button {
    flex: 0 0 auto;
    position: relative;
    margin: 2px 2px;
    font-weight: bold;
    font-size: 1rem;
    height: 35px;
    color: rgb(var(--ui-color-foreground-090));
    overflow: visible;
    border: none;
    box-shadow: none;
    background: none;
    padding: 5px 15px;
}

.column-toggle-bar .dt-buttons > button.dt-button.config-btn {
    margin-right: 0;
}
@media screen and (min-width: 800px) {
    .column-toggle-bar .dt-buttons > button.dt-button.config-btn {
        margin-left: auto;
    }
}

@media screen and (max-width: 480px) {
    .column-toggle-bar .dt-buttons > button.dt-button {
        margin-right: 3px;
    }
}

.column-toggle-bar .dt-buttons > button.dt-button:hover,
.column-toggle-bar .dt-buttons > button.dt-button:active,
.column-toggle-bar .dt-buttons > button.dt-button:active:hover,
.column-toggle-bar .dt-buttons > button.dt-button:focus
.column-toggle-bar .dt-buttons > button.dt-button.active {
    border: none;
    box-shadow: none;
    background: none; 
}

.column-toggle-bar .dt-buttons > button.dt-button:before { 
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--ui-color-btn));
    mask-image: 
        linear-gradient(45deg, transparent 8px, rgb(0,0,0) 8px),
        linear-gradient(rgb(0,0,0) 0%, rgb(0,0,0) 100%),
        linear-gradient(225deg, transparent 8px, rgb(0,0,0) 8px),
        linear-gradient(rgb(0,0,0) 0%, rgb(0,0,0) 100%);
    -webkit-mask-image: 
        linear-gradient(45deg, transparent 8px, rgb(0,0,0) 8px),
        linear-gradient(rgb(0,0,0) 0%, rgb(0,0,0) 100%),
        linear-gradient(225deg, transparent 8px, rgb(0,0,0) 8px),
        linear-gradient(rgb(0,0,0) 0%, rgb(0,0,0) 100%);
    mask-position: bottom left, top left, top right, bottom right;
    -webkit-mask-position: bottom left, top left, top right, bottom right;
    mask-size: 50.1% 50.1%;
    -webkit-mask-size: 50.1% 50.1%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.column-toggle-bar .dt-buttons > button.dt-button:hover {
    background-image: 
        linear-gradient(45deg, transparent 6px, rgb(var(--ui-color-highlight)) 6px),
        linear-gradient(rgb(var(--ui-color-highlight)) 0%, rgb(var(--ui-color-highlight)) 100%),
        linear-gradient(225deg, transparent 6px, rgb(var(--ui-color-highlight)) 6px),
        linear-gradient(rgb(var(--ui-color-highlight)) 0%, rgb(var(--ui-color-highlight)) 100%);
    background-position: bottom left, top left, top right, bottom right;
    background-size: 50.1% 50.1%;
    background-repeat: no-repeat;
}

.column-toggle-bar .dt-buttons > button.dt-button:active {
    background-image: 
        linear-gradient(45deg, transparent 6px, rgb(var(--color-ongeki-summer-accent-03)) 6px),
        linear-gradient(rgb(var(--color-ongeki-summer-accent-03)) 0%, rgb(var(--color-ongeki-summer-accent-03)) 100%),
        linear-gradient(225deg, transparent 6px, rgb(var(--color-ongeki-summer-accent-03)) 6px),
        linear-gradient(rgb(var(--color-ongeki-summer-accent-03)) 0%, rgb(var(--color-ongeki-summer-accent-03)) 100%) !important;
    background-position: bottom left, top left, top right, bottom right !important;
    background-size: 50.1% 50.1% !important;
    background-repeat: no-repeat !important;
    color: rgb(var(--ui-color-foreground-inverted));
}

.column-toggle-bar .dt-buttons > button.dt-button:active:before {
    background-color: rgb(var(--ui-color-btn-active));
    background-image: 
        linear-gradient(45deg, transparent 8px, rgb(var(--ui-color-btn-active)) 8px),
        linear-gradient(rgb(var(--ui-color-btn-active)) 0%, rgb(var(--ui-color-btn-active)) 100%),
        linear-gradient(225deg, transparent 8px, rgb(var(--ui-color-btn-active)) 8px),
        linear-gradient(rgb(var(--ui-color-btn-active)) 0%, rgb(var(--ui-color-btn-active)) 100%);
}

.column-toggle-bar .dt-buttons > button.dt-button span {
    position: relative;
}

div.dt-button-collection button.dt-button,
div.dt-button-collection div.dt-button,
div.dt-button-collection a.dt-button {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
    float: none;
    margin-bottom: 4px;
    margin-right: 0;
    border: none;
    border-image-source: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 100'><defs><linearGradient id='a' gradientTransform='rotate(90)'><stop offset='0' stop-color='%23333'/><stop offset='1' stop-color='%2111'/></linearGradient></defs><path d='M30 0h140l30 50-30 50H30L0 50 30 0z' fill='url(%23a)'/><path d='M164.3 10l24 40-24 40H35.7l-24-40 24-40h128.6M170 0H30L0 50l30 50h140l30-50-30-50z'/><path d='M11.8 50l14 23.3V26.7L11.8 50zm162.4-23.3v46.6l14-23.3-14-23.3z' fill='%23ff1b71'/></svg>");
    border-image-slice: 0 30 fill;
    border-image-width: 0 30px;
    border-image-repeat: repeat;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: #fff;
    font-size: 1rem;
}

div.dt-button-collection button.dt-button:hover:not(.disabled),
div.dt-button-collection div.dt-button:hover:not(.disabled),
div.dt-button-collection a.dt-button:hover:not(.disabled){
    border: none;
    border-image-source: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 100'><defs><linearGradient id='a' gradientTransform='rotate(90)'><stop offset='0' stop-color='%23444'/><stop offset='1' stop-color='%23222'/></linearGradient></defs><path d='M30 0h140l30 50-30 50H30L0 50 30 0z' fill='url(%23a)'/><path d='M164.3 10l24 40-24 40H35.7l-24-40 24-40h128.6M170 0H30L0 50l30 50h140l30-50-30-50z'/><path d='M11.8 50l14 23.3V26.7L11.8 50zm162.4-23.3v46.6l14-23.3-14-23.3z' fill='%23ff1b71'/></svg>");
    border-image-slice: 0 30 fill;
    border-image-width: 0 30px;
    border-image-repeat: repeat;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

div.dt-button-collection button.dt-button:active:not(.disabled),
div.dt-button-collection button.dt-button.active:not(.disabled),
div.dt-button-collection div.dt-button:active:not(.disabled),
div.dt-button-collection div.dt-button.active:not(.disabled),
div.dt-button-collection a.dt-button:active:not(.disabled),
div.dt-button-collection a.dt-button.active:not(.disabled) {
    border: none;
    border-image-source: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 100'><defs><linearGradient id='a' gradientTransform='rotate(90)'><stop offset='0' stop-color='%23333'/><stop offset='1' stop-color='%23111'/></linearGradient></defs><path d='M30 0h140l30 50-30 50H30L0 50 30 0z' fill='url(%23a)'/><path d='M164.3 10l24 40-24 40H35.7l-24-40 24-40h128.6M170 0H30L0 50l30 50h140l30-50-30-50z'/><path d='M11.8 50l14 23.3V26.7L11.8 50zm162.4-23.3v46.6l14-23.3-14-23.3z' fill='%233be5d6'/></svg>");
    border-image-slice: 0 30 fill;
    border-image-width: 0 30px;
    border-image-repeat: repeat;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}
div.dt-button-collection button.dt-button:active:hover:not(.disabled),
div.dt-button-collection button.dt-button.active:hover:not(.disabled),
div.dt-button-collection div.dt-button:active:hover:not(.disabled),
div.dt-button-collection div.dt-button.active:hover:not(.disabled),
div.dt-button-collection a.dt-button:active:hover:not(.disabled),
div.dt-button-collection a.dt-button.active:hover:not(.disabled) {
    border: none;
    border-image-source: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 100'><defs><linearGradient id='a' gradientTransform='rotate(90)'><stop offset='0' stop-color='%23444'/><stop offset='1' stop-color='%23222'/></linearGradient></defs><path d='M30 0h140l30 50-30 50H30L0 50 30 0z' fill='url(%23a)'/><path d='M164.3 10l24 40-24 40H35.7l-24-40 24-40h128.6M170 0H30L0 50l30 50h140l30-50-30-50z'/><path d='M11.8 50l14 23.3V26.7L11.8 50zm162.4-23.3v46.6l14-23.3-14-23.3z' fill='%233be5d6'/></svg>");
    border-image-slice: 0 30 fill;
    border-image-width: 0 30px;
    border-image-repeat: repeat;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}
div.dt-button-collection.fixed {
  border-radius: 0;
  padding: 10px 15px;
}

.toolbar {
    display: flex;
    padding: 0 10px;
    margin-bottom: 10px;
}

.toolbar.filters {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(var(--ui-color-background-080));
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.toolbar.filters .select-wrap {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
.toolbar.filters .select-wrap .label {
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 3px;
}
.toolbar.filters select {
    font-size: 16px;
    min-width: 70px;
    max-width: 100px;
}

.toolbar.filters select option[data-default] {
    color: rgb(var(--ui-color-foreground-050));
}

.dataTables_wrapper .dataTables_length select {
    font-size: 16px;
}

.dataTables_wrapper .dataTables_length select option {
    font-size: 16px;
}

.dataTables_wrapper .dataTables_info {
    padding: 0;
}

.dataTables_wrapper .dataTables_filter {
    margin-left: auto;
    margin-top: 0;
}

.dataTables_wrapper .dataTables_filter input {
    font-size: 16px;
    background-color: rgb(var(--ui-color-form-background));
    border: 2px solid rgb(var(--ui-color-form-border));
    height: 40px;
    padding: 2px 10px;
    border-radius: 2px;
    -webkit-appearance: none;
    color: rgb(var(--ui-color-text));
}

.dataTables_wrapper .dataTables_filter input:focus {
    font-size: 16px;
    border-color: rgb(var(--ui-color-primary));
}

/* main table */
#table_wrapper {
    padding: 0 0 10px 0;
}

.table-inner {
    width: 100%;
    position: relative;
}

#table {
    border-top: 1px solid rgb(var(--ui-color-table-row-border));
}

.dataTables_scroll .dataTables_scrollHead {
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 0;
    z-index: 2;
    background-color: rgb(var(--ui-color-table-row-bg));
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}
@supports (-webkit-backdrop-filter: blur(20px)) {
    .dataTables_scroll .dataTables_scrollHead {
        background-color: rgba(var(--ui-color-table-row-bg),0.5);
    }
}

.dataTables_scroll .dataTables_scrollHead thead th {
    height: 20px !important;
}
@supports (-webkit-backdrop-filter: blur(20px)) {
    .dataTables_scroll .dataTables_scrollHead thead th {
        
    }
}

table.dataTable thead th,
table.dataTable thead td {
    border-bottom: 0;
}


table.dataTable thead th,
table.dataTable thead td {
    padding-left: 10px;
    padding-right: 20px;
}

/* override sorting button */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-image: none;
}

table.dataTable thead th {
    position: relative;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
    margin-left: 3px;
    width: 19px;
    height: 100%;
    background-image: url("datatables/images/sort_both.png");
    background-position: right center;
    background-repeat: no-repeat;
}
table.dataTable thead .sorting_asc:after {
    background-image: url("datatables/images/sort_asc.png");
}
table.dataTable thead .sorting_desc:after {
    background-image: url("datatables/images/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled:after {
    background-image: url("datatables/images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled:after {
    background-image: url("datatables/images/sort_desc_disabled.png");
}

thead span {
    display: block;
}

thead th.nowrap {
    white-space: nowrap;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom-color: rgb(var(--ui-color-table-row-border));
}

/* rowgroup header */
tr.dtrg-start td div {
    display: inline-block;
    position: sticky;
    position: -webkit-sticky;
    left: 10px;
}

/* column contents */
tbody td.id {
    font-variant-numeric: tabular-nums;
    font-size: 0.8em;
    padding-right: 0 !important;
}


table.dataTable thead th.jacket,
table.dataTable tbody td.jacket {
    padding-right: 10px;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    height: 50px;
    width: 50px !important;
    z-index: 1;
}

th.jacket,
td.jacket {
    min-width: 50px;
    max-width: 50px;
}
th.jacket span {
    visibility: hidden;
}
td.jacket .img-wrap {
    display: block;
    margin: -8px -10px;
    padding: 8px 10px;
    background-color: rgb(var(--ui-color-table-row-bg));
    mask-image: 
        linear-gradient(to right, rgb(0,0,0) 90%, rgba(0,0,0,0));
    -webkit-mask-image: 
        linear-gradient(to right, rgb(0,0,0) 90%, rgba(0,0,0,0));
}
tbody tr.odd td.jacket .img-wrap {
    background-color: 
        rgb(var(--ui-color-table-row-bg-odd));
}
tbody tr:hover td.jacket .img-wrap {
    background-color: 
        rgb(var(--ui-color-table-row-bg-hover));
}
td.jacket img {
    width: 50px;
    height: 50px;
    border-radius: 1px;
}


table.dataTable thead th.song-title,
table.dataTable tbody td.song-title {
    min-width: 180px;
    padding-left: 0px;
}

td.song-title .inner-wrap {

}

td.song-title .title {
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    td.song-title .title {
        font-size: 1.1em;
    }
}

.artist-display {
    display: none;
}

td.song-title .artist-display {
    display: block;
    margin-top: 0.2em;
    font-size: 0.8em;
    color: rgb(var(--ui-color-foreground-060));
}

td.artist {
}

th.category,
td.category {
    min-width: 90px;
}
td.category {
    font-size: 0.9em;
}
@media screen and (max-width: 640px) {
    td.category {
        font-size: 1em;
    }
}

th.chapter,
td.chapter {
    min-width: 100px;
}

td.chapter {
    font-size: 0.9em;
}

@media screen and (max-width: 640px) {
    td.chapter {
        font-size: 1em;
    }
}

tbody td.title-sort {
    font-size: 0.7em;
}

th.type,
td.type {
    text-align: center;
}

.type-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.type-icon span {
    display: none;
}

.type-icon.leaf {
    background-image: url('img/card_icon_leaf.png');
}
.type-icon.fire {
    background-image: url('img/card_icon_fire.png');
}
.type-icon.aqua {
    background-image: url('img/card_icon_aqua.png');
}

th.character,
td.character {
    max-width: 200px;
}

td.character {
    font-size: 0.9em;
}
@media screen and (max-width: 640px) {
    td.character {
        font-size: 1em;
    }
}

th.lv,
td.lv {
    max-width: 3rem;
}

th.lv select {
    max-width: 4.5em;
}

tbody td.lv {
    font-size: 1.1em;
}

.lv-bsc {
    background: rgba(101,211,70,0.1);
}
.lv-adv {
    background: rgba(251,230,77,0.1);
}
.lv-exp {
    background: rgba(234,56,134,0.1);
}
.lv-mas {
    background: rgba(165,71,213,0.1);
}
.lv-lnt {
    background: rgba(255,255,255,0.1);
}

.lv-bsc.sorting_1 {
    background: rgba(101,211,70,0.2) !important;
}
.lv-adv.sorting_1 {
    background: rgba(251,230,77,0.2) !important;
}
.lv-exp.sorting_1 {
    background: rgba(234,56,134,0.2) !important;
}
.lv-mas.sorting_1 {
    background: rgba(165,71,213,0.2) !important;
}
.lv-lnt.sorting_1 {
    background: rgba(255,255,255,0.2) !important;
}

.lv-num-simple {

}

.lv-num-precise {
    display: block;
    color: rgb(var(--ui-color-foreground-060));
    font-size: 0.8em;
}
/*.lv-num-precise:not(:empty):before {
    content: "(";
}
.lv-num-precise:not(:empty):after {
    content: ")";
}*/

tbody td.date {
    text-align: center;
}

/* Details */
.dtr-modal-content h2 .artist {
    font-size: 0.8em;
    font-weight: normal;
    color: rgb(var(--ui-color-foreground-060));
}

table.dtr-details tr td {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

table.dtr-details tr td:first-child {
    font-weight: bold;
}

table.dtr-details li span.dtr.data {
    display: block;
}

.paging {
    padding: 0 10px;
}

footer {
    padding: 25px 15px 15px 15px;
    font-size: 0.8em;
    color: rgb(var(--ui-color-foreground-060));
}

