:root {
  --color-ongeki-red-accent-01: 253,42,37;
  /* #fd2a25 */
  --color-ongeki-red-accent-02: 255,142,0;
  /* #ff8e00 */
  --color-ongeki-red-accent-03: 253,249,83;
  /* #fdf953 */
  --ui-color-background-100: 255,255,255;
  /* #fff */
  --ui-color-background-098: 250,250,250;
  /* #fafafa */
  --ui-color-background-095: 247,247,247;
  /* #f7f7f7 */
  --ui-color-background-093: 241,241,241;
  /* #f1f1f1 */
  --ui-color-background-090: 236,236,236;
  /* #ececec */
  --ui-color-background-080: 218,218,218;
  /* #dadada */
  --ui-color-background-070: 193,193,193;
  /* #c1c1c1 */
  --ui-color-background-060: 175,175,175;
  /* #afafaf */
  --ui-color-background-050: 158,158,158;
  /* #9e9e9e */
  --ui-color-background-040: 121,121,121;
  /* #797979 */
  --ui-color-background-030: 107,107,107;
  /* #6b6b6b */
  --ui-color-background-020: 92,92,92;
  /* #5c5c5c */
  --ui-color-background-010: 74,74,74;
  /* #4a4a4a */
  --ui-color-foreground-100: 17,17,17;
  /* #111 */
  --ui-color-foreground-098: 22,22,22;
  /* #161616 */
  --ui-color-foreground-095: 36,36,36;
  /* #242424 */
  --ui-color-foreground-090: 46,46,46;
  /* #2e2e2e */
  --ui-color-foreground-080: 58,58,58;
  /* #3a3a3a */
  --ui-color-foreground-070: 74,74,74;
  /* #4a4a4a */
  --ui-color-foreground-060: 92,92,92;
  /* #5c5c5c */
  --ui-color-foreground-050: 107,107,107;
  /* #6b6b6b */
  --ui-color-foreground-040: 121,121,121;
  /* #797979 */
  --ui-color-foreground-030: 158,158,158;
  /* #9e9e9e */
  --ui-color-foreground-020: 175,175,175;
  /* #afafaf */
  --ui-color-foreground-010: 193,193,193;
  /* #c1c1c1 */
  --ui-color-foreground-inverted: 255,255,255;
  --ui-color-background-inverted: 0,0,0;
  --ui-color-page-background: var(--ui-color-background-100);
  --ui-color-text: var(--ui-color-foreground-095);
  --ui-color-form-background: 204,193,211;
  /* #ccc1d3 */
  --ui-color-form-border: 156,137,174;
  /* #9c89ae */
  --ui-color-btn: 204,193,211;
  /* #ccc1d3 */
  --ui-color-btn-highlight: 156,137,174;
  /* #9c89ae */
  --ui-color-btn-active: 178,168,186;
  /* #b2a8ba */
  --ui-color-highlight: var(--color-ongeki-red-accent-01);
  --ui-color-primary: var(--color-ongeki-red-accent-02);
  --ui-color-warning-bg: var(--color-ongeki-red-accent-03);
  --ui-color-table-row-bg: var(--ui-color-background-100);
  --ui-color-table-row-bg-odd: var(--ui-color-background-098);
  --ui-color-table-row-bg-hover: var(--ui-color-background-095);
  --ui-color-table-row-bg-sorting: var(--ui-color-background-095);
  --ui-color-table-row-border: var(--ui-color-background-080);
  --ui-color-table-row-group-bg: var(--ui-color-background-093);
  --ui-color-table-row-bg-selected: 176,190,217;
  /* #B0BED9 */
  --lv-color-bsc: 31,132,3;
  /* #1f8403 */
  --lv-color-adv: 162,94,6;
  /* #a25e06 */
  --lv-color-exp: 234,56,134;
  /* #ea3886 */
  --lv-color-mas: 165,71,213;
  /* #a547d5 */
  --lv-color-lnt: 217,54,44;
  /* #d9362c */
  --toolbar-bg: linear-gradient(25deg, #f0eaf2 50%, #b5caf4 120%);
  --toolbar-btn-color: 227,218,232;
  /* #e3dae8 */
  --current-theme-icon: "🔆";
  --sort-arrows-opacity: 0.8;
  --bg-pattern-filter: invert(1);
  --ongeki-db-logo-url: url('./img/ongeki-db-logo-lite-light.svg');
}
:root[data-theme="dark"] {
  --ui-color-background-100: 17,17,17;
  /* #111 */
  --ui-color-background-098: 22,22,22;
  /* #161616 */
  --ui-color-background-095: 26,26,26;
  /* #1a1a1a */
  --ui-color-background-093: 36,36,36;
  /* #242424 */
  --ui-color-background-090: 46,46,46;
  /* #2e2e2e */
  --ui-color-background-080: 58,58,58;
  /* #3a3a3a */
  --ui-color-background-070: 74,74,74;
  /* #4a4a4a */
  --ui-color-background-060: 92,92,92;
  /* #5c5c5c */
  --ui-color-background-050: 107,107,107;
  /* #6b6b6b */
  --ui-color-background-040: 121,121,121;
  /* #797979 */
  --ui-color-background-030: 158,158,158;
  /* #9e9e9e */
  --ui-color-background-020: 175,175,175;
  /* #afafaf */
  --ui-color-background-010: 193,193,193;
  /* #c1c1c1 */
  --ui-color-foreground-100: 255,255,255;
  /* #fff */
  --ui-color-foreground-098: 250,250,250;
  /* #fafafa */
  --ui-color-foreground-095: 247,247,247;
  /* #f7f7f7 */
  --ui-color-foreground-090: 241,241,241;
  /* #f1f1f1 */
  --ui-color-foreground-080: 236,236,236;
  /* #ececec */
  --ui-color-foreground-070: 218,218,218;
  /* #dadada */
  --ui-color-foreground-060: 193,193,193;
  /* #c1c1c1 */
  --ui-color-foreground-050: 175,175,175;
  /* #afafaf */
  --ui-color-foreground-040: 158,158,158;
  /* #9e9e9e */
  --ui-color-foreground-030: 121,121,121;
  /* #797979 */
  --ui-color-foreground-020: 107,107,107;
  /* #6b6b6b */
  --ui-color-foreground-010: 92,92,92;
  /* #5c5c5c */
  --ui-color-foreground-inverted: 255,255,255;
  /* #fff */
  --ui-color-background-inverted: 0,0,0;
  /* #000 */
  --ui-color-page-background: var(--ui-color-background-100);
  --ui-color-text: var(--ui-color-foreground-090);
  --ui-color-form-background: 63,49,71;
  /* #3f3147 */
  --ui-color-form-border: 109,88,130;
  /* #6d5882 */
  --ui-color-btn: 63,49,71;
  /* #3f3147 */
  --ui-color-btn-highlight: 109,88,130;
  /* #6d5882 */
  --ui-color-btn-active: 83,71,91;
  /* #53475b */
  --ui-color-highlight: var(--color-ongeki-red-accent-01);
  --ui-color-primary: var(--color-ongeki-red-accent-02);
  --ui-color-warning-bg: var(--color-ongeki-red-accent-03);
  --ui-color-table-row-bg: var(--ui-color-background-100);
  --ui-color-table-row-bg-odd: var(--ui-color-background-098);
  --ui-color-table-row-bg-hover: var(--ui-color-background-095);
  --ui-color-table-row-bg-sorting: var(--ui-color-background-095);
  --ui-color-table-row-border: var(--ui-color-background-080);
  --ui-color-table-row-group-bg: var(--ui-color-background-093);
  --ui-color-table-row-bg-selected: 176,190,217;
  /* #B0BED9 */
  --lv-color-bsc: 101,211,70;
  /* #65d346 */
  --lv-color-adv: 251,230,77;
  /* #fbe64d */
  --lv-color-exp: 234,56,134;
  /* #ea3886 */
  --lv-color-mas: 165,71,213;
  /* #a547d5 */
  --lv-color-lnt: 217,54,44;
  /* #d9362c */
  --toolbar-bg: linear-gradient(25deg, #141528 55%, #1b213a 98%, #3355a3 110%);
  --toolbar-btn-color: 63,49,71;
  /* #3f3147 */
  --current-theme-icon: "🌘";
  --sort-arrows-opacity: 0.8;
  --bg-pattern-filter: invert(0);
  --ongeki-db-logo-url: url('./img/ongeki-db-logo-lite-dark.svg');
}
@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --ui-color-background-100: 17,17,17;
    /* #111 */
    --ui-color-background-098: 22,22,22;
    /* #161616 */
    --ui-color-background-095: 26,26,26;
    /* #1a1a1a */
    --ui-color-background-093: 36,36,36;
    /* #242424 */
    --ui-color-background-090: 46,46,46;
    /* #2e2e2e */
    --ui-color-background-080: 58,58,58;
    /* #3a3a3a */
    --ui-color-background-070: 74,74,74;
    /* #4a4a4a */
    --ui-color-background-060: 92,92,92;
    /* #5c5c5c */
    --ui-color-background-050: 107,107,107;
    /* #6b6b6b */
    --ui-color-background-040: 121,121,121;
    /* #797979 */
    --ui-color-background-030: 158,158,158;
    /* #9e9e9e */
    --ui-color-background-020: 175,175,175;
    /* #afafaf */
    --ui-color-background-010: 193,193,193;
    /* #c1c1c1 */
    --ui-color-foreground-100: 255,255,255;
    /* #fff */
    --ui-color-foreground-098: 250,250,250;
    /* #fafafa */
    --ui-color-foreground-095: 247,247,247;
    /* #f7f7f7 */
    --ui-color-foreground-090: 241,241,241;
    /* #f1f1f1 */
    --ui-color-foreground-080: 236,236,236;
    /* #ececec */
    --ui-color-foreground-070: 218,218,218;
    /* #dadada */
    --ui-color-foreground-060: 193,193,193;
    /* #c1c1c1 */
    --ui-color-foreground-050: 175,175,175;
    /* #afafaf */
    --ui-color-foreground-040: 158,158,158;
    /* #9e9e9e */
    --ui-color-foreground-030: 121,121,121;
    /* #797979 */
    --ui-color-foreground-020: 107,107,107;
    /* #6b6b6b */
    --ui-color-foreground-010: 92,92,92;
    /* #5c5c5c */
    --ui-color-foreground-inverted: 255,255,255;
    /* #fff */
    --ui-color-background-inverted: 0,0,0;
    /* #000 */
    --ui-color-page-background: var(--ui-color-background-100);
    --ui-color-text: var(--ui-color-foreground-090);
    --ui-color-form-background: 63,49,71;
    /* #3f3147 */
    --ui-color-form-border: 109,88,130;
    /* #6d5882 */
    --ui-color-btn: 63,49,71;
    /* #3f3147 */
    --ui-color-btn-highlight: 109,88,130;
    /* #6d5882 */
    --ui-color-btn-active: 83,71,91;
    /* #53475b */
    --ui-color-highlight: var(--color-ongeki-red-accent-01);
    --ui-color-primary: var(--color-ongeki-red-accent-02);
    --ui-color-warning-bg: var(--color-ongeki-red-accent-03);
    --ui-color-table-row-bg: var(--ui-color-background-100);
    --ui-color-table-row-bg-odd: var(--ui-color-background-098);
    --ui-color-table-row-bg-hover: var(--ui-color-background-095);
    --ui-color-table-row-bg-sorting: var(--ui-color-background-095);
    --ui-color-table-row-border: var(--ui-color-background-080);
    --ui-color-table-row-group-bg: var(--ui-color-background-093);
    --ui-color-table-row-bg-selected: 176,190,217;
    /* #B0BED9 */
    --lv-color-bsc: 101,211,70;
    /* #65d346 */
    --lv-color-adv: 251,230,77;
    /* #fbe64d */
    --lv-color-exp: 234,56,134;
    /* #ea3886 */
    --lv-color-mas: 165,71,213;
    /* #a547d5 */
    --lv-color-lnt: 217,54,44;
    /* #d9362c */
    --toolbar-bg: linear-gradient(25deg, #141528 55%, #1b213a 98%, #3355a3 110%);
    --toolbar-btn-color: 63,49,71;
    /* #3f3147 */
    --current-theme-icon: "🌘";
    --sort-arrows-opacity: 0.8;
    --bg-pattern-filter: invert(0);
    --ongeki-db-logo-url: url('./img/ongeki-db-logo-lite-dark.svg');
  }
}
html {
  font-size: 14px;
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: rgb(var(--ui-color-page-background));
  color: rgb(var(--ui-color-text));
  transition: background-color 0.3s;
}
@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}
html.transitioning *,
html.transitioning *:before,
html.transitioning *:after,
html.transitioning button {
  transition-property: background-color, background-image, border-color, opacity;
  transition-duration: 0.3s;
}
html.page-loading #table_wrapper,
html.page-loading #site-footer {
  display: none;
}
html.page-loading #site-loader {
  display: flex;
}
html.table-loading #site-loader {
  display: flex;
}
#site-loader {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
}
.loader {
  display: inline-block;
}
@keyframes loader-tri-anim {
  0% {
    filter: hue-rotate(40deg) brightness(1.6);
    transform: scale(1.3) rotate(0);
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
  24% {
    filter: brightness(1);
    transform: scale(1) rotate(90deg);
  }
  25% {
    filter: hue-rotate(0deg) brightness(1.6);
    transform: scale(1.3) rotate(90deg);
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
  49% {
    filter: brightness(1);
    transform: scale(1) rotate(180deg);
  }
  50% {
    filter: hue-rotate(40deg) brightness(1.6);
    transform: scale(1.3) rotate(180deg);
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
  74% {
    filter: brightness(1);
    transform: scale(1) rotate(270deg);
  }
  75% {
    filter: hue-rotate(0deg) brightness(1.6);
    transform: scale(1.3) rotate(270deg);
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
  99% {
    filter: brightness(1);
    transform: scale(1) rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
}
.loader .loader-tri {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polygon fill="rgb(253,42,37)" points="8,0 1.1,12 14.9,12"/></svg>');
  background-size: 100% 100%;
  margin: 0 4px;
  animation: loader-tri-anim 4s infinite both;
}
.loader .loader-tri.t2 {
  animation-delay: 0.1s;
}
.loader .loader-tri.t3 {
  animation-delay: 0.2s;
}
body {
  font-family: -apple-system, "Hiragino Sans", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Sans GB", "Meiryo", "Segoe UI", sans-serif;
  font-size: 1rem;
  font-feature-settings: "palt";
  padding: 0;
  margin: 0;
  background: rgb(var(--ui-color-page-background));
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
button,
input {
  font-family: -apple-system, "Hiragino Sans", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Sans GB", "Meiryo", "Segoe UI", sans-serif;
  font-feature-settings: "palt";
}
select {
  text-overflow: ellipsis;
  height: 32px;
  padding: 2px 20px 2px 10px;
  font-size: 16px;
  background-color: rgba(var(--ui-color-btn), 0.2);
  background-image: linear-gradient(to right, rgb(var(--ui-color-btn-highlight)) 0%, rgb(var(--ui-color-btn-highlight)) 50%, rgb(var(--ui-color-btn-highlight)) 100%), linear-gradient(to left, rgb(var(--ui-color-btn-highlight)) 0%, rgb(var(--ui-color-btn-highlight)) 50%, rgb(var(--ui-color-btn-highlight)) 100%), linear-gradient(45deg, transparent 3px, rgb(var(--ui-color-btn-highlight)) 4px, rgb(var(--ui-color-btn-highlight)) 5.5px, transparent 5.5px), linear-gradient(225deg, transparent 3px, rgb(var(--ui-color-btn-highlight)) 4px, rgb(var(--ui-color-btn-highlight)) 5.5px, transparent 5.5px), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 16'%3E%3Cpath fill='%23b099c7' d='M7.1 10L5 12.3 2.9 10H.5L5 15l4.5-5zM2.9 6L5 3.7 7.1 6h2.4L5 1 .5 6z'/%3E%3C/svg%3E");
  background-position: bottom right, top left, bottom left, top right, calc(100% - 5px) center;
  background-size: calc(100% - (4px + 2px - 1px)) 2px, calc(100% - (4px + 2px - 1px)) 2px, 10px 10px, 10px 10px, 10px 16px;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
  mask-image: linear-gradient(45deg, transparent 3px, #000000 4px), linear-gradient(#000000 0%, #000000 100%), linear-gradient(225deg, transparent 3px, #000000 4px), linear-gradient(#000000 0%, #000000 100%);
  mask-position: bottom left, top left, top right, bottom right;
  mask-size: 50.1% 50.1%;
  mask-repeat: no-repeat;
  color: rgb(var(--foreground));
  -moz-appearance: none;
  -webkit-appearance: none;
  transition-property: background-image, background-color;
  transition-duration: 0.2s;
}
select:hover {
  background-color: rgba(var(--ui-color-btn), 0.7);
  transition-duration: 0s;
}
select:focus {
  font-size: 16px;
  outline: none;
  background-color: rgba(var(--ui-color-btn), 0.7);
  background-image: linear-gradient(to right, rgb(var(--ui-color-primary)) 0%, rgb(var(--ui-color-primary)) 50%, rgb(var(--ui-color-primary)) 100%), linear-gradient(to left, rgb(var(--ui-color-primary)) 0%, rgb(var(--ui-color-primary)) 50%, rgb(var(--ui-color-primary)) 100%), linear-gradient(45deg, transparent 3px, rgb(var(--ui-color-primary)) 4px, rgb(var(--ui-color-primary)) 5.5px, transparent 5.5px), linear-gradient(225deg, transparent 3px, rgb(var(--ui-color-primary)) 4px, rgb(var(--ui-color-primary)) 5.5px, transparent 5.5px), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 16'%3E%3Cpath fill='%23b099c7' d='M7.1 10L5 12.3 2.9 10H.5L5 15l4.5-5zM2.9 6L5 3.7 7.1 6h2.4L5 1 .5 6z'/%3E%3C/svg%3E");
  transition-duration: 0s;
}
a {
  color: #ff1b71;
}
.btn,
.dataTables_wrapper .column-toggle-bar .dt-buttons > button.dt-button {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin: 2px 2px;
  font-size: 0.9em;
  letter-spacing: -0.02em;
  font-weight: bold;
  height: 35px;
  color: rgb(var(--ui-color-foreground-090));
  overflow: visible;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: none;
  background: none;
  padding: 5px 15px;
  background-color: rgba(var(--ui-color-btn), 0.5);
  text-decoration: none;
  mask-image: linear-gradient(45deg, transparent 7px, #000000 8px), linear-gradient(#000000 0%, #000000 100%), linear-gradient(225deg, transparent 7px, #000000 8px), linear-gradient(#000000 0%, #000000 100%);
  mask-position: bottom left, top left, top right, bottom right;
  mask-size: 50.1% 50.1%;
  mask-repeat: no-repeat;
  transition-property: background-color;
  transition-duration: 0.2s;
}
@media screen and (max-width: 480px) {
  .btn,
  .dataTables_wrapper .column-toggle-bar .dt-buttons > button.dt-button {
    margin-right: 3px;
  }
}
.btn:hover,
.btn:active,
.btn:active:hover,
.btn:focus .btn.active,
.dataTables_wrapper .column-toggle-bar .dt-buttons > button.dt-button:hover,
.dataTables_wrapper .column-toggle-bar .dt-buttons > button.dt-button:active,
.dataTables_wrapper .column-toggle-bar .dt-buttons > button.dt-button:active:hover,
.dataTables_wrapper .column-toggle-bar .dt-buttons > button.dt-button:focus .dataTables_wrapper .column-toggle-bar .dt-buttons > button.dt-button.active {
  border: none;
  box-shadow: none;
  background: none;
}
.btn:before,
.dataTables_wrapper .column-toggle-bar .dt-buttons > button.dt-button:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgb(var(--color-ongeki-red-accent-01)) 0%, rgb(var(--color-ongeki-red-accent-02)) 50%, rgb(var(--color-ongeki-red-accent-01)) 100%), linear-gradient(to left, rgb(var(--color-ongeki-red-accent-01)) 0%, rgb(var(--color-ongeki-red-accent-02)) 50%, rgb(var(--color-ongeki-red-accent-01)) 100%), linear-gradient(45deg, transparent 7px, rgb(var(--color-ongeki-red-accent-01)) 8px, rgb(var(--color-ongeki-red-accent-01)) 9.5px, transparent 9.5px), linear-gradient(225deg, transparent 7px, rgb(var(--color-ongeki-red-accent-01)) 8px, rgb(var(--color-ongeki-red-accent-01)) 9.5px, transparent 9.5px);
  background-position: bottom right, top left, bottom left, top right;
  background-size: calc(100% - 11px) 2px, calc(100% - 11px) 2px, 14px 14px, 14px 14px;
  opacity: 0;
  transition-property: background-image, background-color, opacity;
  transition-duration: 0.2s;
}
.btn:hover,
.dataTables_wrapper .column-toggle-bar .dt-buttons > button.dt-button:hover {
  background-color: rgba(var(--ui-color-btn), 0.8);
  border-radius: 0;
  transition-duration: 0s;
}
.btn:hover:before,
.dataTables_wrapper .column-toggle-bar .dt-buttons > button.dt-button:hover:before {
  opacity: 1;
  transition-duration: 0s;
}
.btn:active,
.dataTables_wrapper .column-toggle-bar .dt-buttons > button.dt-button:active {
  background-color: rgb(var(--ui-color-btn-active));
  border-radius: 0;
  transition-duration: 0s;
}
.btn:active:before,
.dataTables_wrapper .column-toggle-bar .dt-buttons > button.dt-button:active:before {
  background-image: linear-gradient(to right, rgb(var(--color-ongeki-red-accent-01)) 0%, rgb(var(--color-ongeki-red-accent-03)) 50%, rgb(var(--color-ongeki-red-accent-01)) 100%), linear-gradient(to left, rgb(var(--color-ongeki-red-accent-01)) 0%, rgb(var(--color-ongeki-red-accent-03)) 50%, rgb(var(--color-ongeki-red-accent-01)) 100%), linear-gradient(45deg, transparent 7px, rgb(var(--color-ongeki-red-accent-01)) 8px, rgb(var(--color-ongeki-red-accent-01)) 9.5px, transparent 9.5px), linear-gradient(225deg, transparent 7px, rgb(var(--color-ongeki-red-accent-01)) 8px, rgb(var(--color-ongeki-red-accent-01)) 9.5px, transparent 9.5px);
  opacity: 1;
  transition-duration: 0s;
}
.btn.active,
.dataTables_wrapper .column-toggle-bar .dt-buttons > button.dt-button.active {
  border-radius: 0;
  transition-duration: 0s;
}
.btn.active:before,
.dataTables_wrapper .column-toggle-bar .dt-buttons > button.dt-button.active:before {
  background-image: linear-gradient(to right, rgb(var(--color-ongeki-red-accent-02)) 0%, rgb(var(--color-ongeki-red-accent-03)) 50%, rgb(var(--color-ongeki-red-accent-02)) 100%), linear-gradient(to left, rgb(var(--color-ongeki-red-accent-02)) 0%, rgb(var(--color-ongeki-red-accent-03)) 50%, rgb(var(--color-ongeki-red-accent-02)) 100%), linear-gradient(45deg, transparent 7px, rgb(var(--color-ongeki-red-accent-02)) 8px, rgb(var(--color-ongeki-red-accent-02)) 9.5px, transparent 9.5px), linear-gradient(225deg, transparent 7px, rgb(var(--color-ongeki-red-accent-02)) 8px, rgb(var(--color-ongeki-red-accent-02)) 9.5px, transparent 9.5px);
  opacity: 1;
  transition-duration: 0s;
}
.btn span,
.dataTables_wrapper .column-toggle-bar .dt-buttons > button.dt-button span {
  position: relative;
}
header {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 10px;
  background-image: linear-gradient(45deg, rgba(var(--color-ongeki-red-accent-02), 0.2) 0%, rgba(var(--color-ongeki-red-accent-02), 0) 20%), linear-gradient(45deg, rgba(var(--color-ongeki-red-accent-03), 0) 70%, rgba(var(--color-ongeki-red-accent-02), 0.1) 80%, rgba(var(--color-ongeki-red-accent-01), 0.3) 90%);
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  header {
    padding: 0 15px;
    height: 70px;
  }
}
header * {
  box-sizing: border-box;
}
header > * {
  position: relative;
}
header:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('./img/tri-pattern.svg');
  opacity: 0.08;
  filter: var(--bg-pattern-filter);
}
header h1 {
  flex: 1 1 auto;
  font-weight: 900;
  margin: 0 15px 0 0;
  font-size: 1.5em;
  font-style: italic;
}
header h1 a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  color: #fff;
  line-height: 0.5;
  vertical-align: middle;
  margin-left: -10px;
  margin-right: 10px;
}
header h1 a:hover {
  text-decoration: none;
}
header h1 a span {
  display: inline-block;
}
header h1 a span.ongeki-db-logo {
  width: calc(100vw - 180px);
  max-width: 160px;
  height: 50px;
  background-image: var(--ongeki-db-logo-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0px;
}
@media screen and (min-width: 480px) {
  header h1 a span.ongeki-db-logo {
    width: 250px;
    max-width: none;
    height: 70px;
    background-position: -10px -5px;
  }
}
header h1 a span.hidden {
  display: none;
}
header .aside {
  flex: 0 1 0;
  position: relative;
  display: inline-flex;
  height: 50px;
  align-items: stretch;
  padding: 0 15px 0 20px;
  margin-left: auto;
  margin-right: -35px;
  color: rgb(var(--ui-color-foreground-100));
  text-transform: uppercase;
  z-index: 1;
}
@media screen and (min-width: 480px) {
  header .aside {
    padding-left: 30px;
    height: 70px;
  }
}
header .aside:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: -3px;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(var(--color-ongeki-red-accent-01), 1) 0%, rgba(var(--color-ongeki-red-accent-02), 1) 100%);
  transform: skewX(-30deg);
}
header .aside:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(var(--ui-color-background-100));
  transform: skewX(-30deg);
}
header .aside > div {
  position: relative;
  z-index: 1;
}
.theme-switcher {
  position: relative;
  margin-left: 20px;
  margin-right: 10px;
  padding: 5px 20px 5px 30px;
  display: inline-flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .theme-switcher {
    padding-left: 15px;
    padding-right: 10px;
  }
}
.theme-switcher:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(var(--ui-color-background-100));
  border-left: 2px solid rgb(var(--ui-color-background-080));
  transform: skewX(-30deg);
}
.theme-switcher .label:before {
  position: relative;
  content: var(--current-theme-icon);
  font-size: 16px;
  margin-right: 4px;
}
.theme-switcher .switch {
  height: 30px;
  position: relative;
  width: 14px;
}
.theme-switcher .switch .slider {
  background-color: #333;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(var(--ui-color-foreground-020), 0.5) inset;
}
.theme-switcher .switch .slider:before {
  background-color: #eee;
  bottom: 2px;
  content: "";
  height: 10px;
  left: 2px;
  position: absolute;
  border-radius: 2px;
  transition: transform 0.2s;
  width: 10px;
}
.theme-switcher .switch input {
  display: none;
}
.theme-switcher .switch input:checked + .slider {
  background-color: #777;
}
.theme-switcher .switch input:checked + .slider:before {
  transform: translateY(-15px);
}
.lastupdated {
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px 0 5px 0;
  text-align: right;
}
@media screen and (min-width: 480px) {
  .lastupdated {
    padding-right: 10px;
  }
}
.notice-bar {
  display: block;
  padding: 7px 10px;
  font-size: 0.9em;
  background: rgba(var(--ui-color-warning-bg), 0.2);
  border-radius: 2px;
}
.site-navigation {
  display: flex;
  padding: 2px 13px;
  background: var(--toolbar-bg);
  border-top: 1px solid rgb(var(--ui-color-background-100));
  border-bottom: 1px solid rgb(var(--ui-color-background-090));
}
.dataTables_wrapper .column-toggle-bar {
  display: block;
  padding: 0;
  border-bottom: 1px solid rgb(var(--ui-color-background-090));
}
.dataTables_wrapper .column-toggle-bar span.label {
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 5px 15px 0px 15px;
  margin-bottom: 3px;
  color: rgb(var(--ui-color-foreground-050));
}
@media screen and (max-width: 480px) {
  .dataTables_wrapper .column-toggle-bar span.label {
    padding: 5px 10px 0 10px;
  }
}
.dataTables_wrapper .column-toggle-bar .dt-buttons {
  display: flex;
  flex-flow: wrap;
  float: none;
  overflow: hidden;
  padding: 2px 13px;
}
@media screen and (max-width: 480px) {
  .dataTables_wrapper .column-toggle-bar .dt-buttons {
    padding: 2px 8px;
    overflow-x: auto;
    flex-flow: nowrap;
  }
  .dataTables_wrapper .column-toggle-bar .dt-buttons:after {
    content: "";
    flex: 0 0 auto;
    display: inline-block;
    width: 8px;
    height: 8px;
  }
}
.dataTables_wrapper .column-toggle-bar .dt-buttons > button.dt-button.config-btn {
  margin-right: 0;
}
@media screen and (min-width: 800px) {
  .dataTables_wrapper .column-toggle-bar .dt-buttons > button.dt-button.config-btn {
    margin-left: auto;
  }
}
.dataTables_wrapper div.dt-button-collection button.dt-button,
.dataTables_wrapper div.dt-button-collection div.dt-button,
.dataTables_wrapper div.dt-button-collection a.dt-button {
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
  float: none;
  margin-bottom: 4px;
  margin-right: 0;
  border: none;
  border-image-source: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 100'><defs><linearGradient id='a' gradientTransform='rotate(90)'><stop offset='0' stop-color='%23333'/><stop offset='1' stop-color='%2111'/></linearGradient></defs><path d='M30 0h140l30 50-30 50H30L0 50 30 0z' fill='url(%23a)'/><path d='M164.3 10l24 40-24 40H35.7l-24-40 24-40h128.6M170 0H30L0 50l30 50h140l30-50-30-50z'/><path d='M11.8 50l14 23.3V26.7L11.8 50zm162.4-23.3v46.6l14-23.3-14-23.3z' fill='%23ff1b71'/></svg>");
  border-image-slice: 0 30 fill;
  border-image-width: 0 30px;
  border-image-repeat: repeat;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: #fff;
  font-size: 1rem;
}
.dataTables_wrapper div.dt-button-collection button.dt-button:not(.disabled):hover,
.dataTables_wrapper div.dt-button-collection div.dt-button:not(.disabled):hover,
.dataTables_wrapper div.dt-button-collection a.dt-button:not(.disabled):hover {
  border: none;
  border-image-source: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 100'><defs><linearGradient id='a' gradientTransform='rotate(90)'><stop offset='0' stop-color='%23444'/><stop offset='1' stop-color='%23222'/></linearGradient></defs><path d='M30 0h140l30 50-30 50H30L0 50 30 0z' fill='url(%23a)'/><path d='M164.3 10l24 40-24 40H35.7l-24-40 24-40h128.6M170 0H30L0 50l30 50h140l30-50-30-50z'/><path d='M11.8 50l14 23.3V26.7L11.8 50zm162.4-23.3v46.6l14-23.3-14-23.3z' fill='%23ff1b71'/></svg>");
  border-image-slice: 0 30 fill;
  border-image-width: 0 30px;
  border-image-repeat: repeat;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
.dataTables_wrapper div.dt-button-collection button.dt-button:not(.disabled):active,
.dataTables_wrapper div.dt-button-collection div.dt-button:not(.disabled):active,
.dataTables_wrapper div.dt-button-collection a.dt-button:not(.disabled):active,
.dataTables_wrapper div.dt-button-collection button.dt-button:not(.disabled).active,
.dataTables_wrapper div.dt-button-collection div.dt-button:not(.disabled).active,
.dataTables_wrapper div.dt-button-collection a.dt-button:not(.disabled).active {
  border: none;
  border-image-source: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 100'><defs><linearGradient id='a' gradientTransform='rotate(90)'><stop offset='0' stop-color='%23333'/><stop offset='1' stop-color='%23111'/></linearGradient></defs><path d='M30 0h140l30 50-30 50H30L0 50 30 0z' fill='url(%23a)'/><path d='M164.3 10l24 40-24 40H35.7l-24-40 24-40h128.6M170 0H30L0 50l30 50h140l30-50-30-50z'/><path d='M11.8 50l14 23.3V26.7L11.8 50zm162.4-23.3v46.6l14-23.3-14-23.3z' fill='%233be5d6'/></svg>");
  border-image-slice: 0 30 fill;
  border-image-width: 0 30px;
  border-image-repeat: repeat;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
.dataTables_wrapper div.dt-button-collection button.dt-button:not(.disabled):active:hover,
.dataTables_wrapper div.dt-button-collection div.dt-button:not(.disabled):active:hover,
.dataTables_wrapper div.dt-button-collection a.dt-button:not(.disabled):active:hover,
.dataTables_wrapper div.dt-button-collection button.dt-button:not(.disabled).active:hover,
.dataTables_wrapper div.dt-button-collection div.dt-button:not(.disabled).active:hover,
.dataTables_wrapper div.dt-button-collection a.dt-button:not(.disabled).active:hover {
  border: none;
  border-image-source: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 100'><defs><linearGradient id='a' gradientTransform='rotate(90)'><stop offset='0' stop-color='%23444'/><stop offset='1' stop-color='%23222'/></linearGradient></defs><path d='M30 0h140l30 50-30 50H30L0 50 30 0z' fill='url(%23a)'/><path d='M164.3 10l24 40-24 40H35.7l-24-40 24-40h128.6M170 0H30L0 50l30 50h140l30-50-30-50z'/><path d='M11.8 50l14 23.3V26.7L11.8 50zm162.4-23.3v46.6l14-23.3-14-23.3z' fill='%233be5d6'/></svg>");
  border-image-slice: 0 30 fill;
  border-image-width: 0 30px;
  border-image-repeat: repeat;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
.dataTables_wrapper div.dt-button-collection.fixed {
  border-radius: 0;
  padding: 10px 15px;
}
.dataTables_wrapper .toolbar-group {
  margin-bottom: 10px;
}
@media screen and (min-width: 640px) {
  .dataTables_wrapper .toolbar-group {
    display: flex;
    align-items: stretch;
  }
}
.dataTables_wrapper .toolbar {
  display: flex;
  padding: 0 15px;
}
@media screen and (max-width: 480px) {
  .dataTables_wrapper .toolbar {
    padding: 0 10px;
  }
}
.dataTables_wrapper .toolbar.filters {
  flex: 1 1 auto;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(var(--ui-color-background-080));
  white-space: nowrap;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.dataTables_wrapper .toolbar.filters .select-wrap {
  display: inline-block;
  height: 45px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.dataTables_wrapper .toolbar.filters .select-wrap .label {
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 3px;
}
.dataTables_wrapper .toolbar.filters select {
  display: block;
  font-size: 16px;
  min-width: 70px;
  max-width: 100px;
  margin: 0;
}
.dataTables_wrapper .toolbar.filters select option[data-default] {
  color: rgb(var(--ui-color-foreground-050));
}
.dataTables_wrapper .toolbar.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(var(--ui-color-background-080));
}
@media screen and (min-width: 640px) {
  .dataTables_wrapper .toolbar.search {
    border-left: 1px solid rgb(var(--ui-color-background-080));
  }
}
.dataTables_wrapper .toolbar.search .dataTables_filter label {
  display: block;
  line-height: 1;
  font-size: 0.75rem;
  font-weight: bold;
}
.dataTables_wrapper .dataTables_filter {
  margin-top: 0;
}
.dataTables_wrapper .dataTables_filter input {
  display: block;
  font-size: 16px;
  height: 32px;
  margin: 3px 0 0 0;
  padding: 2px 4px 2px 25px;
  background-color: rgb(var(--ui-color-form-background));
  background-color: rgba(var(--ui-color-btn), 0.2);
  background-image: linear-gradient(to right, rgb(var(--ui-color-form-border)) 0%, rgb(var(--ui-color-form-border)) 50%, rgb(var(--ui-color-form-border)) 100%), linear-gradient(to left, rgb(var(--ui-color-form-border)) 0%, rgb(var(--ui-color-form-border)) 50%, rgb(var(--ui-color-form-border)) 100%), linear-gradient(45deg, transparent 3px, rgb(var(--ui-color-form-border)) 4px, rgb(var(--ui-color-form-border)) 5.5px, transparent 5.5px), linear-gradient(225deg, transparent 3px, rgb(var(--ui-color-form-border)) 4px, rgb(var(--ui-color-form-border)) 5.5px, transparent 5.5px), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='%23b099c7' d='M8.5 0C5.5 0 3 2.5 3 5.5c0 1.2.4 2.2 1 3.1L.3 12.3l1.4 1.4L5.4 10c.9.6 2 1 3.1 1 3 0 5.5-2.5 5.5-5.5S11.5 0 8.5 0zm0 9C6.6 9 5 7.4 5 5.5S6.6 2 8.5 2 12 3.6 12 5.5 10.4 9 8.5 9z'/%3E%3C/svg%3E");
  background-position: bottom right,
				top left,
				bottom left,
				top right,
				7px center;
  background-size: calc(100% - (4px + 2px - 1px)) 2px, calc(100% - (4px + 2px - 1px)) 2px, 10px 10px, 10px 10px, 14px 14px;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
  mask-image: linear-gradient(45deg, transparent 3px, #000000 4px), linear-gradient(#000000 0%, #000000 100%), linear-gradient(225deg, transparent 3px, #000000 4px), linear-gradient(#000000 0%, #000000 100%);
  mask-position: bottom left, top left, top right, bottom right;
  mask-size: 50.1% 50.1%;
  mask-repeat: no-repeat;
  -moz-appearance: none;
  -webkit-appearance: textfield;
  color: rgb(var(--ui-color-text));
}
.dataTables_wrapper .dataTables_filter input[type="search"]::-webkit-search-decoration {
  display: none !important;
}
.dataTables_wrapper .dataTables_filter input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.dataTables_wrapper .dataTables_filter input:hover {
  background-color: rgba(var(--ui-color-btn), 0.3);
}
.dataTables_wrapper .dataTables_filter input:focus {
  font-size: 16px;
  outline: none;
  background-color: rgba(var(--ui-color-btn), 0.3);
  background-image: linear-gradient(to right, rgb(var(--ui-color-primary)) 0%, rgb(var(--ui-color-primary)) 50%, rgb(var(--ui-color-primary)) 100%), linear-gradient(to left, rgb(var(--ui-color-primary)) 0%, rgb(var(--ui-color-primary)) 50%, rgb(var(--ui-color-primary)) 100%), linear-gradient(45deg, transparent 3px, rgb(var(--ui-color-primary)) 4px, rgb(var(--ui-color-primary)) 5.5px, transparent 5.5px), linear-gradient(225deg, transparent 3px, rgb(var(--ui-color-primary)) 4px, rgb(var(--ui-color-primary)) 5.5px, transparent 5.5px), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='%23b099c7' d='M8.5 0C5.5 0 3 2.5 3 5.5c0 1.2.4 2.2 1 3.1L.3 12.3l1.4 1.4L5.4 10c.9.6 2 1 3.1 1 3 0 5.5-2.5 5.5-5.5S11.5 0 8.5 0zm0 9C6.6 9 5 7.4 5 5.5S6.6 2 8.5 2 12 3.6 12 5.5 10.4 9 8.5 9z'/%3E%3C/svg%3E");
}
.dataTables_wrapper .dataTables_length select {
  height: 25px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 16px;
}
.dataTables_wrapper .dataTables_length select option {
  font-size: 16px;
}
.dataTables_wrapper .dataTables_length label {
  display: block;
  font-weight: bold;
  font-size: 0.9rem;
}
.dataTables_wrapper .dataTables_info {
  padding: 0;
}
.dataTables_wrapper .toolbar.secondary {
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(var(--ui-color-background-080));
}
.dataTables_wrapper .toolbar.secondary .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* main table */
#table_wrapper {
  padding: 0 0 10px 0;
}
.table-inner {
  width: 100%;
  position: relative;
}
table#table {
  display: none;
  visibility: hidden;
}
table#table.dataTable {
  display: table-row-group;
}
table#table.loading-done {
  visibility: visible;
}
.dataTables_scroll .dataTables_scrollHead {
  position: relative;
  width: auto !important;
  min-width: 100% !important;
  position: sticky !important;
  top: 0;
  z-index: 3;
  background-color: rgb(var(--ui-color-table-row-bg));
  backdrop-filter: blur(20px);
}
@supports (backdrop-filter: blur(20px)) {
  .dataTables_scroll .dataTables_scrollHead {
    background-color: rgba(var(--ui-color-table-row-bg), 0.8);
  }
}
.dataTables_scroll .dataTables_scrollHead .dataTables_scrollHeadInner {
  position: relative;
}
.dataTables_scroll .dataTables_scrollHead .dataTables_scrollHeadInner:after {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  content: "";
  position: absolute;
  bottom: 0px;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.dataTables_scroll .dataTables_scrollHead thead th {
  height: 20px !important;
}
.dataTables_scroll .dataTables_scrollBody {
  width: auto !important;
  min-width: 100% !important;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom-color: rgb(var(--ui-color-table-row-border));
}
table.dataTable {
  table-layout: fixed;
}
table.dataTable thead {
  /* override sorting button */
}
table.dataTable thead th {
  position: relative;
}
table.dataTable thead th.nowrap {
  white-space: nowrap;
}
table.dataTable thead th:hover:after {
  opacity: 1;
}
table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 0;
  padding-left: 10px;
  padding-right: 20px;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-image: none;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: inline-block;
  margin-left: 3px;
  width: 19px;
  height: 100%;
  background-image: url("img/sort-both.svg");
  background-size: 8px 14px;
  background-position: calc(100% - 4px) center;
  background-repeat: no-repeat;
  opacity: var(--sort-arrows-opacity);
}
table.dataTable thead .sorting_asc:after {
  background-image: url("img/sort-asc.svg");
}
table.dataTable thead .sorting_desc:after {
  background-image: url("img/sort-desc.svg");
}
table.dataTable thead .sorting_asc_disabled:after {
  background-image: url("img/sort-asc.svg");
  opacity: 0.2;
}
table.dataTable thead .sorting_desc_disabled:after {
  background-image: url("img/sort-desc.svg");
  opacity: 0.2;
}
table.dataTable thead span {
  display: block;
}
table.dataTable {
  /* rowgroup header */
  /* column contents */
  /*.lv-num-precise:not(:empty):before {
		content: "(";
	}
	.lv-num-precise:not(:empty):after {
		content: ")";
	}*/
}
table.dataTable tr.dtrg-start td div {
  display: inline-block;
  position: sticky;
  position: -webkit-sticky;
  left: 10px;
}
table.dataTable tbody td {
  position: relative;
}
@media screen and (max-width: 480px) {
  table.dataTable tbody td .inner-wrap {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}
table.dataTable tbody td.id {
  font-variant-numeric: tabular-nums;
  font-size: 0.8em;
  padding-right: 0 !important;
}
@media screen and (max-width: 480px) {
  table.dataTable tbody tr:not(.dtrg-group) td {
    padding-top: 35px;
  }
}
@media screen and (max-width: 480px) {
  table.dataTable thead th.id,
  table.dataTable tbody td.id {
    display: none !important;
  }
}
table.dataTable thead th.jacket,
table.dataTable tbody td.jacket {
  padding-right: 5px;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  height: 50px;
  min-width: 60px;
  max-width: 60px;
  padding: 0 !important;
  z-index: 2;
  /*background-color: inherit;*/
}
table.dataTable th.jacket span {
  visibility: hidden;
}
table.dataTable td.jacket {
  vertical-align: top !important;
  padding-top: 8px !important;
}
table.dataTable td.jacket img {
  display: block;
  line-height: 0;
  width: 50px;
  height: 50px;
  border-radius: 1px;
}
table.dataTable td.jacket .index {
  display: none;
  position: absolute;
  top: 4px;
  left: 8px;
  font-size: 0.6em;
  font-variant-numeric: tabular-nums;
}
@media screen and (max-width: 480px) {
  table.dataTable td.jacket .index {
    display: block;
    width: 50px;
    opacity: 0.6;
  }
}
table.dataTable td.jacket .img-wrap {
  display: block;
  width: 55px;
  padding: 12px 8px 12px 8px;
  background-color: rgb(var(--ui-color-table-row-bg));
  mask-image: linear-gradient(to right, #000000 90%, rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to right, #000000 90%, rgba(0, 0, 0, 0));
}
@media screen and (max-width: 480px) {
  table.dataTable td.jacket .img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
table.dataTable tr.odd td.jacket .img-wrap {
  background-color: rgb(var(--ui-color-table-row-bg-odd));
}
table.dataTable tr:hover td.jacket .img-wrap {
  background-color: rgb(var(--ui-color-table-row-bg-hover));
}
table.dataTable thead th.song-title,
table.dataTable tbody td.song-title {
  min-width: 180px;
  width: auto;
}
table.dataTable tbody td.song-title {
  background-color: transparent;
}
table.dataTable tbody td.song-title .title {
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  table.dataTable thead th.song-title {
    position: absolute;
    visibility: hidden;
    min-width: 0;
  }
  table.dataTable tbody td.song-title {
    position: sticky;
    position: -webkit-sticky;
    left: 60px;
    min-width: 0;
    z-index: 1;
    padding: 0;
    background-color: inherit;
  }
  table.dataTable tbody td.song-title .inner-wrap {
    position: absolute;
    top: 0;
    left: 0;
    /*right: calc(-1 * (100vw - 60px));*/
    width: calc(100vw - 60px - 12px - 12px);
    padding: 8px 12px;
    background-color: rgb(var(--ui-color-table-row-bg));
    border-bottom: 1px solid rgba(var(--ui-color-table-row-border), 0.5);
  }
  table.dataTable tbody td.song-title .title {
    display: block;
    font-size: 1.1em;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  table.dataTable tbody tr.odd td.song-title .inner-wrap {
    background-color: rgb(var(--ui-color-table-row-bg-odd));
  }
  table.dataTable tbody tr:hover td.song-title .inner-wrap {
    background-color: rgb(var(--ui-color-table-row-bg-hover));
  }
}
table.dataTable .artist-display {
  display: block;
  margin-top: 0.2em;
  font-size: 0.8em;
  color: rgb(var(--ui-color-foreground-060));
}
@media screen and (max-width: 480px) {
  table.dataTable .artist-display {
    max-height: 50px;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    mask-image: linear-gradient(to bottom, #000000 38px, rgba(0, 0, 0, 0) 50px);
    -webkit-mask-image: linear-gradient(to bottom, #000000 38px, rgba(0, 0, 0, 0) 50px);
    mask-image-position: top;
    -webkit-mask-image-position: top;
  }
}
@media screen and (max-width: 480px) {
  table.dataTable td.song-title .artist-display {
    display: none !important;
  }
}
table.dataTable thead th.artist,
table.dataTable tbody td.artist {
  min-width: calc(100vw - 70px - 150px);
}
table.dataTable tbody td.artist {
  z-index: 0;
}
table.dataTable tbody td.artist .inner-wrap {
  background-color: transparent !important;
}
@media screen and (min-width: 480px) {
  table.dataTable th.artist,
  table.dataTable td.artist {
    display: none;
  }
}
table.dataTable th.category,
table.dataTable td.category {
  min-width: 90px;
}
table.dataTable td.category {
  font-size: 0.9em;
}
@media screen and (max-width: 640px) {
  table.dataTable td.category {
    font-size: 1em;
  }
}
table.dataTable th.chapter,
table.dataTable td.chapter {
  min-width: 100px;
}
table.dataTable td.chapter {
  font-size: 0.9em;
}
@media screen and (max-width: 640px) {
  table.dataTable td.chapter {
    font-size: 1em;
  }
}
table.dataTable tbody td.title-sort {
  font-size: 0.7em;
}
table.dataTable th.type,
table.dataTable td.type {
  text-align: center;
}
table.dataTable td.type .inner-wrap {
  align-items: flex-end;
}
table.dataTable .type-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
}
table.dataTable .type-icon span {
  display: none;
}
table.dataTable .type-icon.leaf {
  background-image: url('img/type-icon-leaf.svg');
}
table.dataTable .type-icon.fire {
  background-image: url('img/type-icon-fire.svg');
}
table.dataTable .type-icon.aqua {
  background-image: url('img/type-icon-aqua.svg');
}
table.dataTable th.character,
table.dataTable td.character {
  max-width: 200px;
}
table.dataTable td.character {
  font-size: 0.9em;
}
@media screen and (max-width: 640px) {
  table.dataTable td.character {
    font-size: 1em;
  }
}
table.dataTable th.lv,
table.dataTable td.lv {
  min-width: 25px;
  max-width: 3rem;
}
table.dataTable th.lv-name,
table.dataTable td.lv-name {
  min-width: 50px;
  max-width: 5rem;
}
table.dataTable th.lv select {
  max-width: 4.5em;
}
table.dataTable tbody td.lv {
  font-size: 1.1em;
}
table.dataTable .diff-name {
  display: block;
  font-weight: bold;
  font-size: 0.9em;
  letter-spacing: -0.02em;
}
table.dataTable .lv-bsc,
table.dataTable .lev_bas {
  background: rgba(101, 211, 70, 0.1);
}
table.dataTable .lv-bsc .diff-name,
table.dataTable .lev_bas .diff-name {
  color: rgb(var(--lv-color-bsc));
}
table.dataTable .lv-adv,
table.dataTable .lev_adv {
  background: rgba(251, 230, 77, 0.1);
}
table.dataTable .lv-adv .diff-name,
table.dataTable .lev_adv .diff-name {
  color: rgb(var(--lv-color-adv));
}
table.dataTable .lv-exp,
table.dataTable .lev_exc {
  background: rgba(234, 56, 134, 0.1);
}
table.dataTable .lv-exp .diff-name,
table.dataTable .lev_exc .diff-name {
  color: rgb(var(--lv-color-exp));
}
table.dataTable .lv-mas,
table.dataTable .lev_mas {
  background: rgba(165, 71, 213, 0.1);
}
table.dataTable .lv-mas .diff-name,
table.dataTable .lev_mas .diff-name {
  color: rgb(var(--lv-color-mas));
}
table.dataTable .lv-lnt,
table.dataTable .lev_lnt {
  background: rgba(255, 255, 255, 0.1);
}
table.dataTable .lv-lnt .diff-name,
table.dataTable .lev_lnt .diff-name {
  color: rgb(var(--lv-color-lnt));
}
table.dataTable .lv-bsc.sorting_1,
table.dataTable .lev_bas.sorting_1 {
  background: rgba(101, 211, 70, 0.2) !important;
}
table.dataTable .lv-adv.sorting_1,
table.dataTable .lev_adv.sorting_1 {
  background: rgba(251, 230, 77, 0.2) !important;
}
table.dataTable .lv-exp.sorting_1,
table.dataTable .lev_exc.sorting_1 {
  background: rgba(234, 56, 134, 0.2) !important;
}
table.dataTable .lv-mas.sorting_1,
table.dataTable .lev_mas.sorting_1 {
  background: rgba(165, 71, 213, 0.2) !important;
}
table.dataTable .lv-lnt.sorting_1,
table.dataTable .lev_lnt.sorting_1 {
  background: rgba(255, 255, 255, 0.2) !important;
}
table.dataTable .lv-num-precise {
  display: block;
  color: rgb(var(--ui-color-foreground-060));
  font-size: 0.8em;
}
table.dataTable thead th.date,
table.dataTable tbody td.date {
  min-width: 50px;
  text-align: center;
}
/* Details */
.dtr-modal-content h2 .artist {
  font-size: 0.8em;
  font-weight: normal;
  color: rgb(var(--ui-color-foreground-060));
}
table.dtr-details tr td {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}
table.dtr-details tr td:first-child {
  font-weight: bold;
}
table.dtr-details li span.dtr.data {
  display: block;
}
.paging {
  padding: 0 10px;
}
footer {
  margin-top: 10px;
  padding: 15px 15px 15px 15px;
  background-color: rgb(var(--ui-color-background-095));
}
footer .archives-link {
  padding: 5px 0;
  font-size: 0.9rem;
  border-bottom: 1px solid rgb(var(--ui-color-background-090));
  margin-bottom: 10px;
}
footer .disclaimer {
  display: flex;
  width: 100%;
}
footer .disclaimer .content {
  margin-right: auto;
}
footer .disclaimer .content p {
  margin-top: 0;
  font-size: 0.8em;
  color: rgb(var(--ui-color-foreground-060));
}
footer .disclaimer .footer-logo {
  flex: 0 0 auto;
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url('./img/ongeki-db-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 10px;
}
