html {
    font-size: 14px;
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
}
@media screen and (min-width: 1440px) {
    html {
        font-size: 16px;
    }
}
body {
    font-family: -apple-system, 'Segoe UI', sans-serif;
    font-size: 1rem;
    font-feature-settings: "palt";
    padding: 0;
    margin: 0;
}

a {
    color: #ff1b71;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-bottom: 3px solid #ff1b71;
    background-color: #efefef;
    overflow: hidden;
}
h1 {
    margin: 0;
    font-size: 1.5em;
}
header .lastupdated {
    position: relative;
    display: inline-block;
    padding: 5px 30px 5px 30px;
    margin-left: auto;
    margin-right: -30px;
    color: #fff;
    text-transform: uppercase;
}

header .lastupdated:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111;
    transform: skewX(-40deg);
}

header .lastupdated span {
    position: relative;
}

.column-toggle-bar {
    display: block;
    margin-bottom: 10px;
    padding: 0 10px;
}

.column-toggle-bar .dt-buttons {
    float: none;
}

.toolbar {
    display: flex;
    padding: 0 10px;
    margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_length {
}

.dataTables_wrapper .dataTables_info {
    padding: 0;
    margin-left: 20px;
}

.dataTables_wrapper .dataTables_filter {
    margin-left: auto;
}

#table_wrapper {
    padding: 10px 0;
}

.table-inner {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

#table {
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

#table thead {
    /*position: sticky;
    top: 0;*/
    background: #fff;
}

table.dataTable thead th,
table.dataTable thead td {
    padding-left: 10px;
    padding-right: 20px;
}

thead span {
    display: block;
}

thead .id select,
thead .jacket select,
thead .song-title select,
thead .artist select {
    display: none;
}

thead select {
    font-size: 1rem;
    text-overflow: ellipsis;
}

tbody td.id {
    font-variant-numeric: tabular-nums;
}

tbody td.song-title {
    min-width: 200px;
}

td.song-title .title {
    font-weight: bold;
    font-size: 1.1em;
}

.artist-display {
    display: none;
}

td.song-title .artist-display {
    display: block;
    margin-top: 0.2em;
    font-size: 0.8em;
    color: #666;
}

td.artist {
}

td.chapter {
}

tbody td.chapter {
    font-size: 0.9em;
}

th.chapter select {
    max-width: 150px;
}

th.jacket {
    max-width: 50px !important;
}
table.dataTable thead th.jacket,
table.dataTable thead td.jacket {
    padding-right: 10px;
}

th.jacket span {
    display: none;
}

td.jacket img {
    max-width: 50px;
    height: auto;
}

tbody td.title-sort {
    font-size: 0.7em;
}

th.type,
td.type {
    text-align: center;
}

th.type select {
    max-width: 40px;
}

.type-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.type-icon span {
    display: none;
}

.type-icon.leaf {
    background-image: url('img/card_icon_leaf.png');
}
.type-icon.fire {
    background-image: url('img/card_icon_fire.png');
}
.type-icon.aqua {
    background-image: url('img/card_icon_aqua.png');
}

th.character,
td.character {
    max-width: 200px;
}

th.character select {
    max-width: 150px;
}

th.lv,
td.lv {
}

th.lv select {
    max-width: 4.5em;
}

tbody td.lv {
    font-size: 1.1em;
}

.lv-bsc {
    background: rgba(231, 249, 231, 0.5);
}
.lv-adv {
    background: rgba(255, 244, 201, 0.5);
}
.lv-exp {
    background: rgba(255, 224, 224, 0.5);
}
.lv-mas {
    background: rgba(248, 237, 255, 0.5);
}
.lv-lnt {
    background: rgba(255, 255, 255, 0.5);
}

.lv-bsc.sorting_1 {
    background: rgba(231, 249, 231, 1) !important;
}
.lv-adv.sorting_1 {
    background: rgba(255, 244, 201, 1) !important;
}
.lv-exp.sorting_1 {
    background: rgba(255, 224, 224, 1) !important;
}
.lv-mas.sorting_1 {
    background: rgba(248, 237, 255, 1) !important;
}
.lv-lnt.sorting_1 {
    background: rgba(255, 255, 255, 1) !important;
}

.lv-num-simple {

}

.lv-num-precise {
    display: block;
    color: #999;
    font-size: 0.8em;
}
.lv-num-precise:not(:empty):before {
    content: "(";
}
.lv-num-precise:not(:empty):after {
    content: ")";
}

tbody td.date {
    text-align: center;
}

/* Details */
.dtr-modal-content h2 .artist {
    font-size: 0.8em;
    font-weight: normal;
    color: #666;
}

table.dtr-details tr td {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

table.dtr-details tr td:first-child {
    font-weight: bold;
}

table.dtr-details li span.dtr.data {
    display: block;
}

.paging {
    padding: 0 10px;
}

footer {
    padding: 25px 15px 15px 15px;
    font-size: 0.8em;
    color: #666;
}