footer#site-footer
  .container
    //-
      <div class="notice-bar">
      ⚠️ マークされた譜面定数はまだSUMMER PLUS ver.時点でのものであり、最新の情報と異なる場合があります。
      </div>
    //-
      .commit-bar
        span.commit-label
          svg(aria-hidden='true' viewbox='0 0 16 16' version='1.1' width='16' height='16')
            path(fill='currentColor' d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z')
          span 最新の更新内容
          span#latest-commit-date
        a#latest-commit
          span#latest-commit-content Loading...
    .disclaimer
      .content
        p
          b
            | OtogeDBは非公式ファンメイドプロジェクトです。株式会社セガもしくは他の関連会社との関係はありません。
            br
            | OtogeDB is a fanmade project. It is not in any way affiliated with or endorsed by SEGA. 
            br
            | The original #{game_name_display} Logo is a trademark of SEGA CORPORATION. All copyrighted materials are owned by their respective owners.
        p
          | Since 2019
          | / Made by zvuc
          a(href='https://x.com/zvuc_' target='_blank' rel='noopener')
            span.social-icon.twitter-icon
          |  / Contributions &amp; feedback on 
          a(href='https://github.com/zvuc/otoge-db' target='_blank' rel='noopener')
            span.social-icon.github-icon
            | GitHub
      .footer-logo
        <svg viewBox="0 0 710 125">
          <path d="M514.62 66.26v6.28h-52.33V53.71h52.33v6.28h7.43v6.28h-7.43Zm90.73-18.56v29.44c0 26.23-19.9 45.64-47.12 45.64h-43.61V72.53h7.43v-6.28h7.43v-6.28h-7.43v-6.28h-7.43V2.22h43.61c27.22 0 47.12 19.16 47.12 45.48m-22.2 1.64c0-16.36-12.01-28.29-28.29-28.29h-9.4c-4.85 0-8.55 3.04-8.55 7.4v68.09c0 4.36 3.7 7.4 8.55 7.4h9.4c16.28 0 28.29-12.01 28.29-28.29V49.33Zm31.71 10.64v6.28h7.43v-6.28zm72.74 2.32c5.09-2.41 12.3-10.28 12.3-26.85 0-19.2-14.47-33.23-41.4-33.23h-43.63V53.7h7.43v6.28h7.43v6.28h-7.43v6.28h-7.43v50.25h41.28c28.45 0 47.2-6.91 47.2-34.54 0-13.73-8.46-23.44-15.75-25.94Zm-50.45-31.87c0-5.67 3.7-9.37 9.37-9.37h7.54c17.02 0 24.02 5.03 24.02 14.36 0 14.88-6.3 18.29-23.32 18.29h-9.06c-5.18 0-8.55-3.04-8.55-7.4V30.44Zm16.91 73.52h-7.54c-5.67 0-9.37-3.7-9.37-9.37V79.94c0-4.36 3.37-7.4 8.55-7.4h9.06c17.02 0 26.3-.52 26.3 15.1 0 12.66-8.19 16.31-27 16.31" fill="#288cc3"/>
          <path fill="currentColor" d="M0 81V43.75C0 17.52 18.91 0 47.2 0s47.12 17.52 47.12 43.75V81c0 26.48-18.83 44-47.12 44S0 107.48 0 81m47.2 24.26c14.97 0 24.92-10.28 24.92-25.74V45.47c0-15.46-9.95-25.74-24.92-25.74S22.28 30.01 22.28 45.47v34.05c0 15.46 9.95 25.74 24.92 25.74M182.97 81V43.75c0-26.23 18.91-43.75 47.2-43.75s47.12 17.52 47.12 43.75V81c0 26.48-18.83 44-47.12 44s-47.2-17.52-47.2-44m47.2 24.26c14.97 0 24.92-10.28 24.92-25.74V45.47c0-15.46-9.95-25.74-24.92-25.74s-24.92 10.28-24.92 25.74v34.05c0 15.46 9.95 25.74 24.92 25.74M287.82 81V43.75c0-26.23 18.91-43.75 47.2-43.75s47.12 17.52 47.12 44.65h-22.2c0-14.64-9.95-24.92-24.92-24.92S310.1 30.01 310.1 45.47v34.05c0 15.46 9.79 25.74 25.41 25.74 13.16 0 23.6-7.24 23.6-22.53v-1.07c0-6.74-3.7-9.13-10.77-9.13h-13.36V53.7h47.16v24.75c0 29.03-18.83 46.55-47.12 46.55s-47.2-17.52-47.2-44m150.05 24.26c-15.62 0-25.41-10.28-25.41-25.74v-6.99h28.13V53.7h-28.13v-8.22c0-15.46 9.95-25.74 24.92-25.74s24.92 10.28 24.92 24.92h21.98C484.28 17.52 465.66 0 437.37 0s-47.2 17.52-47.2 43.75V81c0 26.48 18.91 44 47.2 44 26.52 0 44.73-15.39 46.9-41.23h-21.98c-.47 14.58-11.57 21.49-24.42 21.49m-320.6-84.21H96.55V2.22h84.21v18.83h-21.55c-5.35 0-9.46 4.03-9.46 9.46v92.27h-22.2V31.33c0-5.92-4.36-10.28-10.28-10.28"/>
        </svg>
        a(href='https://x.com/otoge_db' target='_blank' rel='noopener')
            span.social-icon.twitter-icon
            | otoge_db
