@import (reference) '_variables.less';

@import '_css-variables.less';
@import 'datatables.less';

html {
	font-size: 14px;
	min-height: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: rgb(var(--ui-color-page-background));
	color: rgb(var(--ui-color-text));
	transition: background-color 0.3s;

	@media screen and (max-width: 480px) {
		font-size: 12px;
	}
	@media screen and (min-width: 1440px) {
		font-size: 16px;
	}

	&.transitioning *,
	&.transitioning *:before,
	&.transitioning *:after,
	&.transitioning button {
		transition-property: background-color, background-image, border-color, opacity;
		transition-duration: 0.3s;
	}

	&.page-loading {

		#table_wrapper, #site-footer {
			display: none;
		}

		#site-loader {
			display: flex;
		}
	}

	&.table-loading {
		#site-loader {
			display: flex;
		}
	}
}


// loader
#site-loader {
	display: none;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 90vh;
}

.loader {
	display: inline-block;

	@keyframes loader-tri-anim {
		0% {
			filter: hue-rotate(40deg) brightness(1.6);
			transform: scale(1.3) rotate(0);
			animation-timing-function: cubic-bezier(.23,1,.32,1);
		}
		24% {
			filter: brightness(1);
			transform: scale(1) rotate(90deg);
		}
		25% {
			filter: hue-rotate(0deg) brightness(1.6);
			transform: scale(1.3) rotate(90deg);
			animation-timing-function: cubic-bezier(.23,1,.32,1);	
		}
		49% {
			filter: brightness(1);
			transform: scale(1) rotate(180deg);
		}
		50% {
			filter: hue-rotate(40deg) brightness(1.6);
			transform: scale(1.3) rotate(180deg);
			animation-timing-function: cubic-bezier(.23,1,.32,1);
		}
		74% {
			filter: brightness(1);
			transform: scale(1) rotate(270deg);
		}
		75% {
			filter: hue-rotate(0deg) brightness(1.6);
			transform: scale(1.3) rotate(270deg);
			animation-timing-function: cubic-bezier(.23,1,.32,1);
		}
		99% {
			filter: brightness(1);
			transform: scale(1) rotate(360deg);
		}
		100% {
			transform: rotate(360deg);
			animation-timing-function: cubic-bezier(.23,1,.32,1);
		}
	}
	.loader-tri {
		display: inline-block;
		height: 20px;
		width: 20px;
		background-image: data-uri('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polygon fill="rgb(253,42,37)" points="8,0 1.1,12 14.9,12"/></svg>');
		background-size: 100% 100%;
		margin: 0 4px;
		animation: loader-tri-anim 4s infinite both;

		&.t2 {
			animation-delay: 0.1s;
		}
		&.t3 {
			animation-delay: 0.2s;
		}
	}
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Hiragino Sans", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3","Hiragino Sans GB", "Meiryo", "Segoe UI", sans-serif;
	font-size: 1rem;
	font-feature-settings: "palt";
	padding: 0;
	margin: 0;
	background: rgb(var(--ui-color-page-background));
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

@import '_elements.less';
@import '_header.less';
@import '_toolbar.less';


/* main table */
#table_wrapper {
	padding: 0 0 10px 0;
}

.table-inner {
	width: 100%;
	position: relative;
}

table#table {
	display: none;
	visibility: hidden;

	&.dataTable {
		display: table-row-group;
	}

	&.loading-done {
		visibility: visible;
	}
}

.dataTables_scroll {
	.dataTables_scrollHead {
		position: relative;
		width: auto !important;
		min-width: 100% !important;
		position: sticky !important;
		top: 0;
		z-index: 3;
		background-color: rgb(var(--ui-color-table-row-bg));
		backdrop-filter: blur(20px);

		@supports (backdrop-filter: blur(20px)) {
			background-color: rgba(var(--ui-color-table-row-bg),0.8);
		}

		.dataTables_scrollHeadInner {
			position: relative;

			&:after {
				box-shadow: 0 2px 2px rgba(0,0,0,0.2);
				content: "";
				position: absolute;
				bottom: 0px;
				height: 1px;
				width: 100%;
				background-color: rgba(0,0,0,0.2);
			}
		}

		thead th {
			height: 20px !important;
		}
	}

	.dataTables_scrollBody {
		width: auto !important;
		min-width: 100% !important;

		table.dataTable {

		}
	}

}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
	border-bottom-color: rgb(var(--ui-color-table-row-border));
}


table.dataTable {
	table-layout: fixed;

	// column fixed width
	th,td {

	}

	thead {
		th {
			position: relative;

			&.nowrap {
				white-space: nowrap;
			}

			&:hover:after {
				opacity: 1;
			}
		}

		th, td {
			border-bottom: 0;
			padding-left: 10px;
			padding-right: 20px;
		}

		/* override sorting button */
		.sorting,
		.sorting_asc,
		.sorting_desc,
		.sorting_asc_disabled,
		.sorting_desc_disabled {
			background-image: none;

			&:after {
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				display: inline-block;
				margin-left: 3px;
				width: 19px;
				height: 100%;
				background-image: url("img/sort-both.svg");
				background-size: 8px 14px;
				background-position: calc(100% - 4px) center;
				background-repeat: no-repeat;
				opacity: var(--sort-arrows-opacity);
			}
		}

		.sorting_asc:after {
			background-image: url("img/sort-asc.svg");
		}
		.sorting_desc:after {
			background-image: url("img/sort-desc.svg");
		}
		.sorting_asc_disabled:after {
			background-image: url("img/sort-asc.svg");
			opacity: 0.2;
		}
		.sorting_desc_disabled:after {
			background-image: url("img/sort-desc.svg");
			opacity: 0.2;
		}

		span {
			display: block;
		}
	}
}

table.dataTable {

	tbody tr:not(.dtrg-group) {
		height: 75px;
	}

	/* rowgroup header */
	tr.dtrg-start td div {
		display: inline-block;
		position: sticky;
		position: -webkit-sticky;
		left: 10px;
	}

	/* column contents */
	tbody {
		td {
			position: relative;

			@media screen and (max-width: 480px) {
				.inner-wrap {
					display: flex;
					flex-flow: column;
					justify-content: center;
				}
			}

			&.id {
				font-variant-numeric: tabular-nums;
				font-size: 0.8em;
				padding-right: 0 !important;
			}
		}

		@media screen and (max-width: 480px) {
			tr:not(.dtrg-group) td {
				padding-top: 35px;
				padding-bottom: 5px;
			}
		}
	}

	thead, tbody {

	}

	@media screen and (max-width: 480px) {
		thead th.id,
		tbody td.id {
			display: none !important;
		}
	}

	
	// jacket
	thead th.jacket,
	tbody td.jacket {
		padding-right: 5px;
		position: -webkit-sticky;
		position: sticky;
		left: 0;
		height: 50px;
		min-width: 60px;
		max-width: 60px;
		padding: 0 !important;
		z-index: 2;
		/*background-color: inherit;*/
	}
	
	th.jacket span {
		visibility: hidden;
	}
	td.jacket {

		@media screen and (max-width: 480px) {
			padding-top: 8px !important;
			vertical-align: top !important;
		}

		img {
			display: block;
			line-height: 0;
			width: 50px;
			height: 50px;
			border-radius: 1px;
		}

		.index {
			display: none;
			position: absolute;
			top: 4px;
			left: 8px;
			font-size: 0.6em;
			font-variant-numeric: tabular-nums;

			@media screen and (max-width: 480px) {
				display: block;
				width: 50px;
				opacity: 0.6;
			}
		}

		.img-wrap {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: block;
			width: 55px;
			padding: 12px 8px 12px 8px;
			background-color: rgb(var(--ui-color-table-row-bg));
			mask-image: 
				linear-gradient(to right, rgb(0,0,0) 90%, rgba(0,0,0,0));
			-webkit-mask-image: 
				linear-gradient(to right, rgb(0,0,0) 90%, rgba(0,0,0,0));

			@media screen and (max-width: 480px) {
			}
		}
	}
	tr.odd td.jacket .img-wrap {
		background-color: 
			rgb(var(--ui-color-table-row-bg-odd));
	}
	tr:hover td.jacket .img-wrap {
		background-color: 
			rgb(var(--ui-color-table-row-bg-hover));
	}

	// song-title
	thead th.song-title,
	tbody td.song-title {
		min-width: 180px;
		width: auto;
	}

	tbody td.song-title {
		background-color: transparent;

		.title {
			display: block;
			font-weight: bold;
		}
	}


	@media screen and (max-width: 480px) {
		thead th.song-title {
			position: absolute;
			visibility: hidden;
			min-width: 0;
		}

		tbody td.song-title {
			position: sticky;
			position: -webkit-sticky;
			left: 60px;
			min-width: 0;
			z-index: 1;
			padding: 0;
			background-color: inherit;

			.inner-wrap {
				position: absolute;
				top: 0;
				left: 0;
				/*right: calc(-1 * (100vw - 60px));*/
				width: calc(100vw - 60px - 12px - 12px);
				padding: 8px 12px;
				background-color: rgb(var(--ui-color-table-row-bg));
				border-bottom: 1px solid rgba(var(--ui-color-table-row-border),0.5);
				flex-flow: row nowrap;
				justify-content: flex-start;
				align-items: center;
			}

			.bonus {
				margin-right: 4px;
			}

			.title {
				display: block;
				font-size: 1.1em;
				z-index: 1;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		tbody tr.odd td.song-title .inner-wrap {
			background-color: rgb(var(--ui-color-table-row-bg-odd));
		}
		
		tbody tr:hover td.song-title .inner-wrap {
			background-color: rgb(var(--ui-color-table-row-bg-hover));
		}
	}
	
	// artist
	.artist-display {
		display: block;
		margin-top: 0.2em;
		font-size: 0.8em;
		color: rgb(var(--ui-color-foreground-060));

		@media screen and (max-width: 480px) {
			max-height: 50px;
			font-size: 0.9em;
			overflow: hidden;
			text-overflow: ellipsis;
			mask-image: 
				linear-gradient(to bottom, rgb(0,0,0) 38px, rgba(0,0,0,0) 50px);
			-webkit-mask-image: 
				linear-gradient(to bottom, rgb(0,0,0) 38px, rgba(0,0,0,0) 50px);
			mask-image-position: top;
			-webkit-mask-image-position: top;
		}
	}

	@media screen and (max-width: 480px) {
		td.song-title .artist-display {
			display: none !important;
		}
	}


	thead th.artist,
	tbody td.artist {
		min-width: calc(100vw - 70px - 150px);
	}

	tbody td.artist {
		z-index: 0;
	}

	tbody td.artist .inner-wrap {
		background-color: transparent !important;
	}

	@media screen and (min-width: 480px) {
		th.artist,
		td.artist {
			display: none;
		}
	}

	th.category,
	td.category {
		min-width: 90px;
	}
	td.category {
		font-size: 0.9em;
	}
	@media screen and (max-width: 640px) {
		td.category {
			font-size: 1em;
		}
	}

	th.chapter,
	td.chapter {
		min-width: 100px;
	}

	td.chapter {
		font-size: 0.9em;
	}

	@media screen and (max-width: 640px) {
		td.chapter {
			font-size: 1em;
		}
	}

	tbody td.title-sort {
		font-size: 0.7em;
	}

	th.type,
	td.type {
		text-align: center;

		@media screen and (max-width: 640px) {
			padding-left: 5px;
			padding-right: 15px;
		}
	}

	td.type .inner-wrap {
		display: flex;
		justify-content: flex-end;
	}

	.element-type-icon {
		@media screen and (min-width: 1440px) {
			.icon {
				width: 24px;
				height: 24px;
			}
		}

		.label-text {
			display: none;
		}
	}

	td.type:not([style^="display: none"]) + td.character {
		@media screen and (max-width: 640px) {
			padding-left: 0;
		}
	}


	th.character,
	td.character {
		max-width: 200px;
	}

	td.character {
		font-size: 0.9em;
	}
	@media screen and (max-width: 640px) {
		td.character {
			font-size: 1em;
		}
	}

	th.lv,
	td.lv {
		min-width: 25px;
		max-width: 3rem;
	}

	th.lv-name,
	td.lv-name {
		min-width: 80px;
		max-width: 8rem;
	}

	th.lv select {
		max-width: 4.5em;
	}

	tbody td.lv {
		font-size: 1.1em;
	}

	.diff-name {
		display: block;
		font-weight: bold;
		font-size: 0.9em;
		letter-spacing: -0.02em;
	}

	.lv-bsc, .lev_bas {
		background: rgba(101,211,70,0.1);

		.diff-name {
			color: rgb(var(--lv-color-bsc));
		}
	}
	.lv-adv, .lev_adv {
		background: rgba(251,230,77,0.1);

		.diff-name {
			color: rgb(var(--lv-color-adv));
		}
	}
	.lv-exp, .lev_exc {
		background: rgba(234,56,134,0.1);

		.diff-name {
			color: rgb(var(--lv-color-exp));
		}
	}
	.lv-mas, .lev_mas {
		background: rgba(165,71,213,0.1);

		.diff-name {
			color: rgb(var(--lv-color-mas));
		}
	}
	.lv-lnt, .lev_lnt {
		background: rgba(255,255,255,0.1);

		.diff-name {
			color: rgb(var(--lv-color-lnt));
		}
	}

	.lv-bsc.sorting_1, .lev_bas.sorting_1 {
		background: rgba(101,211,70,0.2) !important;
	}
	.lv-adv.sorting_1, .lev_adv.sorting_1 {
		background: rgba(251,230,77,0.2) !important;
	}
	.lv-exp.sorting_1, .lev_exc.sorting_1 {
		background: rgba(234,56,134,0.2) !important;
	}
	.lv-mas.sorting_1, .lev_mas.sorting_1 {
		background: rgba(165,71,213,0.2) !important;
	}
	.lv-lnt.sorting_1, .lev_lnt.sorting_1 {
		background: rgba(255,255,255,0.2) !important;
	}

	.lv-num-wrap {
		display: flex;
		align-items: baseline;

		.lv-num-precise {
			text-align: right;
			margin-left: auto;
		}
	}

	.lv-num-simple {

	}

	.lv-num-precise {
		display: block;
		color: rgb(var(--ui-color-foreground-060));
		font-size: 0.8em;
	}

	.lv-num-precise .approx {
		display: block;
		color: rgba(var(--ui-color-foreground-060),0.4);

		&:before {
			content: "(";
		}
		&:after {
			content: ")";
		}
	}

	thead th.date,
	tbody td.date {
		min-width: 50px;
		text-align: center;
	}

}// end table.dataTable

/* Details */
div.dtr-modal div.dtr-modal-content {
	padding: 0;
	font-size: 14px;

	@media screen and (min-width: 640px) {
		font-size: 16px;
	}

	@corner-size: 8px;
	@border-thickness: 3px;
	@border-color: rgb(var(--ui-color-foreground-070));
	@border-color-accent: rgb(var(--ui-color-foreground-070));

	background-image: 
		linear-gradient(to left, @border-color 0%, @border-color-accent 50%, @border-color 100%),
		linear-gradient(225deg, @border-color @corner-size, @border-color (@corner-size + 2px), transparent (@corner-size + 2px));
	background-position:
		top left,
		top right;
	background-size: 
		calc(100% - (@corner-size + @border-thickness - 1px)) @border-thickness,
		(@corner-size + 6px) (@corner-size + 6px);
	background-repeat: no-repeat;
	border: none;
	border-radius: 0;
	mask-image: 
		linear-gradient(45deg, transparent (@corner-size - 1px), rgb(0,0,0) @corner-size),
		linear-gradient(rgb(0,0,0) 0%, rgb(0,0,0) 100%),
		linear-gradient(225deg, transparent (@corner-size - 1px), rgb(0,0,0) @corner-size),
		linear-gradient(rgb(0,0,0) 0%, rgb(0,0,0) 100%);
	mask-position: bottom left, top left, top right, bottom right;
	mask-size: 50.1% 50.1%;
	mask-repeat: no-repeat;


	.modal-header { 
		padding: 15px;
		background-color: rgba(var(--ui-color-background-080),0.5);
		margin-bottom: 10px;

		@media screen and (min-width: 640px) {
			display: flex;
			align-items: center;
			margin-bottom: 0;
		}

		.img-wrap {
			flex: 0 0 auto;
			display: inline-flex;
			margin-bottom: 10px; 
			padding: 2px;
			border: 1px solid rgba(var(--ui-color-foreground-050),0.5);
			border-radius: 2px;

			@media screen and (min-width: 640px) {
				margin-bottom: 0;
			}

			
			img {
				width: 150px;
				height: 150px;
			}
		}

		.content-wrap {
			flex: 1 1 auto;
			margin-left: 0;

			@media screen and (min-width: 640px) {
				margin-left: 20px;
			}
		}
	
		.title {
			display: block;
			font-size: 1.5em;
			font-weight: bold;
			letter-spacing: -0.02em;
		}

		.artist {
			display: block;
			font-size: 1em;
			font-weight: normal;
			color: rgb(var(--ui-color-foreground-060));
		}

	}

	.modal-footer {
		.copyright {
			display: block;
			padding: 15px 20px;
			font-size: 0.8em;
			color: rgb(var(--ui-color-foreground-040));
		}
	}

}

table.dtr-details {
	border-collapse: collapse;
	margin-bottom: 10px;

	tr {
		&.detail-hidden,
		&.id, &.jacket, &.song-title, &.artist {
			display: none;
		}

		td {
			height: 28px;
			padding: 7px 15px;
			border-bottom: 1px solid rgb(var(--ui-color-background-080));

			@media screen and (min-width: 480px) {
				height: 33px;
			}
		}
		&:first-child td {
			border-top: 1px solid rgb(var(--ui-color-background-080));
		}

		td:first-child {
			max-width: 130px;
			font-weight: bold;
			color: rgb(var(--ui-color-foreground-060));

			@media screen and (min-width: 480px) {
				max-width: 150px;
				width: 150px;
			}
		}
	}

	li span.dtr.data {
		display: block;
	}

	.index {
		display: none;
	}

	.diff-name {
		margin-right: 5px;
	}

	.lv-num-precise:not(:empty) {
		margin-left: 4px;

		&:before {
			content: "(";
		}

		&:after {
			content: ")";
		}
	}

	.lv-num-simple {
		font-size: 1.1em;

		&:empty:before {
			content: "--";
			color: rgb(var(--ui-color-foreground-030));
		}
	}

	.lv-bsc, .lev_bas {
		td:first-child span {
			// background: rgba(101,211,70,0.1);
			color: rgb(var(--lv-color-bsc));
		}
	}
	.lv-adv, .lev_adv {
		td:first-child span {
			// background: rgba(251,230,77,0.1);
			color: rgb(var(--lv-color-adv));
		}
	}
	.lv-exp, .lev_exc {
		td:first-child span {
			// background: rgba(234,56,134,0.1);
			color: rgb(var(--lv-color-exp));
		}
	}
	.lv-mas, .lev_mas {
		td:first-child span {
			// background: rgba(165,71,213,0.1);
			color: rgb(var(--lv-color-mas));
		}
	}
	.lv-lnt, .lev_lnt {
		td:first-child span {
			// background: rgba(255,255,255,0.1);
			color: rgb(var(--lv-color-lnt));
		}
	}
}

.paging {
	padding: 0 10px;
}

footer {
	margin-top: 10px;
	padding: 15px 15px 15px 15px;
	background-color: rgb(var(--ui-color-background-095));

	.archives-link {
		padding: 5px 0;
		font-size: 0.9rem;
		border-bottom: 1px solid rgb(var(--ui-color-background-090));
		margin-bottom: 10px;
	}

	.disclaimer {
		display: flex;
		width: 100%;

		.content {
			margin-right: auto;

			p {
				margin-top: 0;
				font-size: 0.8em;
				color: rgb(var(--ui-color-foreground-060));
			}
		}
		
		.footer-logo {
			flex: 0 0 auto;
			display: inline-block;
			width: 48px;
			height: 48px;
			background-image: url('./img/ongeki-db-icon.png');
			background-repeat: no-repeat;
			background-size: 100%;
			margin-left: 10px;
		}	
	}

}

