@header-height-mobile: 50px;
@header-height: 70px;

header {
	position: relative;
	display: flex;
	align-items: center;
	height: @header-height-mobile;
	padding: 0 10px;
	// border-bottom: 3px solid rgb(var(--color-ongeki-red-accent-02));
	// background-color: rgb(var(--ui-color-background-090));
	background-image: 
		linear-gradient(
			45deg,
			rgba(var(--color-ongeki-red-accent-02),0.2) 0%,
			rgba(var(--color-ongeki-red-accent-02),0) 20%
		),
		linear-gradient(
			45deg,
			rgba(var(--color-ongeki-red-accent-03),0) 70%,
			rgba(var(--color-ongeki-red-accent-02),0.1) 80%,
			rgba(var(--color-ongeki-red-accent-01),0.3) 90%
		);
	overflow: hidden;

	@media screen and (min-width: 480px) {
		padding: 0 15px;
		height: @header-height;
	}

	* {
		box-sizing: border-box;
	}

	& > * {
		position: relative;
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: url('./img/tri-pattern.svg');
		opacity: 0.08;
		filter: var(--bg-pattern-filter);
	}

	// &:after {
	//     content: "";
	//     position: absolute;
	//     bottom: 0;
	//     left: 0;
	//     right: 0;
	//     height: 3px;
	//     background-image: linear-gradient(to right, #fff 0%, #fff 300px, rgb(var(--color-ongeki-red-accent-02)) 300px, rgb(var(--color-ongeki-red-accent-02)) 90% );
	//     transform: skewX(-40deg);
	// }

	h1 {
		flex: 1 1 auto;
		font-family: 'Montserrat', sans-serif;
		font-weight: 900;
		margin: 0 15px 0 0;
		font-size: 1.5em;
		font-style: italic;

		a {
			display: inline-block;
			color: inherit;
			text-decoration: none;
			color: #fff;
			line-height: 0.5;
			vertical-align: middle;
			margin-left: -10px;
			margin-right: 10px;

			&:hover {
				text-decoration: none;
			}
			span {
				display: inline-block;

			}
			span.ongeki-db-logo {
				width: calc(100vw - 180px);
				max-width: 160px;
				height: @header-height-mobile;
				background-image: var(--ongeki-db-logo-url);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: 0 0px;

				@media screen and (min-width: 480px) {
					width: 250px;
					max-width: none;
					height: @header-height;
					background-position: -10px -5px;
				}
			}

			span.hidden {
				display: none;
			}
		}
	}

	.aside {
		flex: 0 1 0;
		position: relative;
		display: inline-flex;
		height: @header-height-mobile;
		align-items: stretch;
		padding: 0 15px 0 20px;
		margin-left: auto;
		margin-right: -35px;
		color: rgb(var(--ui-color-foreground-100));
		text-transform: uppercase;
		z-index: 1;

		@media screen and (min-width: 480px) {
			padding-left: 30px;
			height: @header-height;
			
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			left: -3px;
			bottom: 0;
			background-image: 
				linear-gradient(
					to bottom,
					rgba(var(--color-ongeki-red-accent-01),1) 0%,
					rgba(var(--color-ongeki-red-accent-02),1) 100%
				);
			transform: skewX(-30deg);
		}

		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background-color: rgb(var(--ui-color-background-100));
			transform: skewX(-30deg);
		}

		& > div {
			position: relative;
			z-index: 1;
		}
	}
}

.theme-switcher {
	position: relative;
	margin-left: 20px;
	margin-right: 10px;
	padding: 5px 20px 5px 30px;
	display: inline-flex;
	align-items: center;

	@media screen and (max-width: 480px) {
		padding-left: 15px;
		padding-right: 10px;
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: rgb(var(--ui-color-background-100));
		border-left: 2px solid rgb(var(--ui-color-background-080));;
		transform: skewX(-30deg);
	}

	.label:before {
		position: relative;
		content: var(--current-theme-icon);
		font-size: 16px;
		margin-right: 4px;
	}

	.switch {
		height: 30px;
		position: relative;
		width: 14px;

		.slider {
			background-color: #333;
			bottom: 0;
			cursor: pointer;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			border-radius: 3px;
			box-shadow: 0 0 0 2px rgba(var(--ui-color-foreground-020),0.5) inset;

			&:before {
				background-color: #eee;
				bottom: 2px;
				content: "";
				height: 10px;
				left: 2px;
				position: absolute;
				border-radius: 2px;
				transition: transform .2s;
				width: 10px;
			}
		}

		input {
			display: none;

			&:checked + .slider {
				background-color: #777;
			}

			&:checked + .slider:before {
				transform: translateY(-15px);
			}
		}
	}
}


.lastupdated {
	display: flex;
	align-items: center;
	position: relative;
	padding: 5px 0 5px 0;
	text-align: right;

	@media screen and (min-width: 480px) {
		padding-right: 10px;
	}
}


.notice-bar {
	display: block;
	padding: 7px 10px;
	font-size: 0.9em;
	background: rgba(var(--ui-color-warning-bg),0.2);
	border-radius: 2px;
}