.dataTables_wrapper {
	.column-toggle-bar {
		display: block;
		padding: 0;
		background: var(--toolbar-bg);
		border-top: 1px solid rgb(var(--ui-color-background-100));
		border-bottom: 1px solid rgb(var(--ui-color-background-090));

		span.label {
			display: block;
			font-size: 0.75rem;
			font-weight: bold;
			padding: 5px 15px 0px 15px;
			margin-bottom: 3px;
			color: rgb(var(--ui-color-foreground-050));

			@media screen and (max-width: 480px) {
				padding: 5px 10px 0 10px;
			}
		}

		.dt-buttons {
			display: flex;
			flex-flow: wrap;
			float: none;
			overflow: hidden;
			padding: 2px 13px;

			@media screen and (max-width: 480px) {
				padding: 2px 8px;
				overflow-x: auto;
				flex-flow: nowrap;

				&:after {
					content: "";
					flex: 0 0 auto;
					display: inline-block;
					width: 8px;
					height: 8px;
				}
			}

			& > button.dt-button {
				flex: 0 0 auto;
				position: relative;
				margin: 2px 2px;
				font-size: 0.9em;
				letter-spacing: -0.02em;
				font-weight: bold;
				height: 35px;
				color: rgb(var(--ui-color-foreground-090));
				overflow: visible;
				border: none;
				border-radius: 0;
				box-shadow: none;
				background: none;
				padding: 5px 15px;
				background-color: rgba(var(--ui-color-btn),0.5);
				mask-image: 
					linear-gradient(45deg, transparent 7px, rgb(0,0,0) 8px),
					linear-gradient(rgb(0,0,0) 0%, rgb(0,0,0) 100%),
					linear-gradient(225deg, transparent 7px, rgb(0,0,0) 8px),
					linear-gradient(rgb(0,0,0) 0%, rgb(0,0,0) 100%);
				mask-position: bottom left, top left, top right, bottom right;
				mask-size: 50.1% 50.1%;
				mask-repeat: no-repeat;
				transition-property: background-color;
				transition-duration: 0.2s;

				@media screen and (max-width: 480px) {
					margin-right: 3px;
				}

				&.config-btn {
					margin-right: 0;

					@media screen and (min-width: 800px) {
						margin-left: auto;
					}
				}

				&:hover,
				&:active,
				&:active:hover,
				&:focus
				&.active {
					border: none;
					box-shadow: none;
					background: none; 
				}


				&:before { 
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background-repeat: no-repeat;
					background-image: 
							linear-gradient(to right, rgb(var(--color-ongeki-red-accent-01)) 0%, rgb(var(--color-ongeki-red-accent-02)) 50%, rgb(var(--color-ongeki-red-accent-01)) 100%),
							linear-gradient(to left, rgb(var(--color-ongeki-red-accent-01)) 0%, rgb(var(--color-ongeki-red-accent-02)) 50%, rgb(var(--color-ongeki-red-accent-01)) 100%),
							linear-gradient(45deg, transparent 7px, rgb(var(--color-ongeki-red-accent-01)) 8px, rgb(var(--color-ongeki-red-accent-01)) 9.5px, transparent 9.5px),
							linear-gradient(225deg, transparent 7px, rgb(var(--color-ongeki-red-accent-01)) 8px, rgb(var(--color-ongeki-red-accent-01)) 9.5px, transparent 9.5px);
					background-position: bottom right, top left, bottom left, top right;
					background-size: calc(100% - 11px) 2px, calc(100% - 11px) 2px, 14px 14px, 14px 14px;
					opacity: 0;
					transition-property: background-image, background-color, opacity;
					transition-duration: 0.2s;
				}

				&:hover {
					background-color: rgba(var(--ui-color-btn),0.8);
					border-radius: 0;
					transition-duration: 0s;

					&:before {
						opacity: 1;
						transition-duration: 0s;
					}
				}

				&:active {
					background-color: rgb(var(--ui-color-btn-active));
					border-radius: 0;
					transition-duration: 0s;

					&:before {
						background-image: 
							linear-gradient(to right, rgb(var(--color-ongeki-red-accent-01)) 0%, rgb(var(--color-ongeki-red-accent-03)) 50%, rgb(var(--color-ongeki-red-accent-01)) 100%),
							linear-gradient(to left, rgb(var(--color-ongeki-red-accent-01)) 0%, rgb(var(--color-ongeki-red-accent-03)) 50%, rgb(var(--color-ongeki-red-accent-01)) 100%),
							linear-gradient(45deg, transparent 7px, rgb(var(--color-ongeki-red-accent-01)) 8px, rgb(var(--color-ongeki-red-accent-01)) 9.5px, transparent 9.5px),
							linear-gradient(225deg, transparent 7px, rgb(var(--color-ongeki-red-accent-01)) 8px, rgb(var(--color-ongeki-red-accent-01)) 9.5px, transparent 9.5px);
						opacity: 1;
						transition-duration: 0s;
					}
				}


				span {
					position: relative;
				}
			}
		}
	}

	div.dt-button-collection {
		button.dt-button,
		div.dt-button,
		a.dt-button {
			position: relative;
			left: 0;
			right: 0;
			width: 100%;
			display: block;
			float: none;
			margin-bottom: 4px;
			margin-right: 0;
			border: none;
			border-image-source: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 100'><defs><linearGradient id='a' gradientTransform='rotate(90)'><stop offset='0' stop-color='%23333'/><stop offset='1' stop-color='%2111'/></linearGradient></defs><path d='M30 0h140l30 50-30 50H30L0 50 30 0z' fill='url(%23a)'/><path d='M164.3 10l24 40-24 40H35.7l-24-40 24-40h128.6M170 0H30L0 50l30 50h140l30-50-30-50z'/><path d='M11.8 50l14 23.3V26.7L11.8 50zm162.4-23.3v46.6l14-23.3-14-23.3z' fill='%23ff1b71'/></svg>");
			border-image-slice: 0 30 fill;
			border-image-width: 0 30px;
			border-image-repeat: repeat;
			background-color: transparent;
			background-image: none;
			box-shadow: none;
			color: #fff;
			font-size: 1rem;

			&:not(.disabled) {
				&:hover{
					border: none;
					border-image-source: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 100'><defs><linearGradient id='a' gradientTransform='rotate(90)'><stop offset='0' stop-color='%23444'/><stop offset='1' stop-color='%23222'/></linearGradient></defs><path d='M30 0h140l30 50-30 50H30L0 50 30 0z' fill='url(%23a)'/><path d='M164.3 10l24 40-24 40H35.7l-24-40 24-40h128.6M170 0H30L0 50l30 50h140l30-50-30-50z'/><path d='M11.8 50l14 23.3V26.7L11.8 50zm162.4-23.3v46.6l14-23.3-14-23.3z' fill='%23ff1b71'/></svg>");
					border-image-slice: 0 30 fill;
					border-image-width: 0 30px;
					border-image-repeat: repeat;
					background-color: transparent;
					background-image: none;
					box-shadow: none;
				}

				&:active,
				&.active {
					border: none;
					border-image-source: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 100'><defs><linearGradient id='a' gradientTransform='rotate(90)'><stop offset='0' stop-color='%23333'/><stop offset='1' stop-color='%23111'/></linearGradient></defs><path d='M30 0h140l30 50-30 50H30L0 50 30 0z' fill='url(%23a)'/><path d='M164.3 10l24 40-24 40H35.7l-24-40 24-40h128.6M170 0H30L0 50l30 50h140l30-50-30-50z'/><path d='M11.8 50l14 23.3V26.7L11.8 50zm162.4-23.3v46.6l14-23.3-14-23.3z' fill='%233be5d6'/></svg>");
					border-image-slice: 0 30 fill;
					border-image-width: 0 30px;
					border-image-repeat: repeat;
					background-color: transparent;
					background-image: none;
					box-shadow: none;

					&:hover {
						border: none;
						border-image-source: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 100'><defs><linearGradient id='a' gradientTransform='rotate(90)'><stop offset='0' stop-color='%23444'/><stop offset='1' stop-color='%23222'/></linearGradient></defs><path d='M30 0h140l30 50-30 50H30L0 50 30 0z' fill='url(%23a)'/><path d='M164.3 10l24 40-24 40H35.7l-24-40 24-40h128.6M170 0H30L0 50l30 50h140l30-50-30-50z'/><path d='M11.8 50l14 23.3V26.7L11.8 50zm162.4-23.3v46.6l14-23.3-14-23.3z' fill='%233be5d6'/></svg>");
						border-image-slice: 0 30 fill;
						border-image-width: 0 30px;
						border-image-repeat: repeat;
						background-color: transparent;
						background-image: none;
						box-shadow: none;
					}
				}
			}
		}

		&.fixed {
		  border-radius: 0;
		  padding: 10px 15px;
		}
	}

	.toolbar-group {
		margin-bottom: 10px;

		@media screen and (min-width: 640px) {
			display: flex;
			align-items: stretch;
		}
	}

	.toolbar {
		display: flex;
		padding: 0 15px;

		@media screen and (max-width: 480px) {
			padding: 0 10px;
		}
	}

	// filters
	.toolbar.filters {
		flex: 1 1 auto;
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid rgb(var(--ui-color-background-080));
		white-space: nowrap;
		overflow: hidden;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;

		.select-wrap {
			display: inline-block;
			height: 45px;
			margin-right: 5px;
			margin-bottom: 5px;

			.label {
				display: block;
				font-size: 0.75rem;
				font-weight: bold;
				margin-bottom: 3px;
			}
		}

		select {
			display: block;
			font-size: 16px;
			min-width: 70px;
			max-width: 100px;
			margin: 0;

			option[data-default] {
				color: rgb(var(--ui-color-foreground-050));
			}
		}

	}

	// search
	.toolbar.search {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid rgb(var(--ui-color-background-080));

		@media screen and (min-width: 640px) {
			border-left: 1px solid rgb(var(--ui-color-background-080));
		}

		.dataTables_filter label {
			display: block;
			line-height: 1;
			font-size: 0.75rem;
			font-weight: bold;
		}
	}

	.dataTables_filter {
		margin-top: 0;

		input {
			@corner-size: 4px;
			@border-thickness: 2px;
			@border-color: rgb(var(--ui-color-form-border));
			@border-color-accent: rgb(var(--ui-color-form-border));
			@border-color-focus: rgb(var(--ui-color-primary));

			display: block;
			font-size: 16px;
			height: 32px;
			margin: 3px 0 0 0;
			padding: 2px 4px 2px 25px;
			background-color: rgb(var(--ui-color-form-background));
			background-color: rgba(var(--ui-color-btn),0.2);
			background-image: 
				linear-gradient(to right, @border-color 0%, @border-color-accent 50%, @border-color 100%),
				linear-gradient(to left, @border-color 0%, @border-color-accent 50%, @border-color 100%),
				linear-gradient(45deg, transparent (@corner-size - 1px), @border-color @corner-size, @border-color (@corner-size + 1.5px), transparent (@corner-size + 1.5px)),
				linear-gradient(225deg, transparent (@corner-size - 1px), @border-color @corner-size, @border-color (@corner-size + 1.5px), transparent (@corner-size + 1.5px)),
				url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='%23b099c7' d='M8.5 0C5.5 0 3 2.5 3 5.5c0 1.2.4 2.2 1 3.1L.3 12.3l1.4 1.4L5.4 10c.9.6 2 1 3.1 1 3 0 5.5-2.5 5.5-5.5S11.5 0 8.5 0zm0 9C6.6 9 5 7.4 5 5.5S6.6 2 8.5 2 12 3.6 12 5.5 10.4 9 8.5 9z'/%3E%3C/svg%3E");
			background-position:
				bottom right,
				top left,
				bottom left,
				top right,
				7px center;
			background-size: 
				calc(100% - (@corner-size + @border-thickness - 1px)) @border-thickness,
				calc(100% - (@corner-size + @border-thickness - 1px)) @border-thickness,
				(@corner-size + 6px) (@corner-size + 6px),
				(@corner-size + 6px) (@corner-size + 6px),
				14px 14px;
			background-repeat: no-repeat;
			border: none;
			border-radius: 0;
			// border: 2px solid rgb(var(--ui-color-form-border));
			// border-radius: 3px;
			mask-image: 
				linear-gradient(45deg, transparent (@corner-size - 1px), rgb(0,0,0) @corner-size),
				linear-gradient(rgb(0,0,0) 0%, rgb(0,0,0) 100%),
				linear-gradient(225deg, transparent (@corner-size - 1px), rgb(0,0,0) @corner-size),
				linear-gradient(rgb(0,0,0) 0%, rgb(0,0,0) 100%);
			mask-position: bottom left, top left, top right, bottom right;
			mask-size: 50.1% 50.1%;
			mask-repeat: no-repeat;
			-moz-appearance: none;
			-webkit-appearance: textfield;
			color: rgb(var(--ui-color-text));

			&[type="search"]::-webkit-search-decoration {
				display: none !important;
			}

			&[type="search"]::-webkit-search-cancel-button {
			    -webkit-appearance: none;
			}

			&:hover {
				background-color: rgba(var(--ui-color-btn),0.3);
			}

			&:focus {
				font-size: 16px;
				outline: none;
				background-color: rgba(var(--ui-color-btn),0.3);
				background-image: 
					linear-gradient(to right, @border-color-focus 0%, @border-color-focus 50%, @border-color-focus 100%),
					linear-gradient(to left, @border-color-focus 0%, @border-color-focus 50%, @border-color-focus 100%),
					linear-gradient(45deg, transparent (@corner-size - 1px), @border-color-focus @corner-size, @border-color-focus (@corner-size + 1.5px), transparent (@corner-size + 1.5px)),
					linear-gradient(225deg, transparent (@corner-size - 1px), @border-color-focus @corner-size, @border-color-focus (@corner-size + 1.5px), transparent (@corner-size + 1.5px)),
					url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='%23b099c7' d='M8.5 0C5.5 0 3 2.5 3 5.5c0 1.2.4 2.2 1 3.1L.3 12.3l1.4 1.4L5.4 10c.9.6 2 1 3.1 1 3 0 5.5-2.5 5.5-5.5S11.5 0 8.5 0zm0 9C6.6 9 5 7.4 5 5.5S6.6 2 8.5 2 12 3.6 12 5.5 10.4 9 8.5 9z'/%3E%3C/svg%3E");
			}
		}
	}

	.dataTables_length {
		select {
			height: 25px;
			padding-top: 0;
			padding-bottom: 0;
			font-size: 16px;

			option {
				font-size: 16px;
			}
		}

		label {
			display: block;
			font-weight: bold;
			font-size: 0.9rem;
		}
	}

	.dataTables_info {
		padding: 0;
	}

	.toolbar.secondary {
		display: block;
		padding-bottom: 10px;
		border-bottom: 1px solid rgb(var(--ui-color-background-080));

		.info {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}
